/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 991px) {
    .activity-container {
        .activity-content {
            .activity-content-items {
                .activity-content-item {
                    .activity-content-img {
                        width: auto;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .login-container {
        .login-form {
            width: auto;
            border-radius: 0;
        }

        .login-link {
            width: auto;
        }
    }

    .project-container {
        .project-header {
            width: auto;
            height: auto;

            .project-header-search {
                width: auto;

                input {
                    width: auto;
                }
            }

            .project-header-create {
                button {
                    width: 100%;
                    display: block;
                }
            }
        }

        .project-content {
            padding-left: 60px !important;

            .project-content-offset {
                margin-bottom: 45px;
            }

            .project-content-btm {
                width: 100%;
            }
        }
    }

    .team-container {
        .team-header {
            height: auto;
        }

        .team-content-offset {
            margin-bottom: 45px;
        }
    }

    .project-build-container {
        .project-build-header {
            height: auto;

            .project-build-header-button {
                padding-top: 10px;
                button {
                    width: 50%;
                    float: left;
                }
            }
        }

        .project-build-content {
            .project-build-content-menu {
                height: auto;
            }
        }
    }

    .project-screen-video-container {
        .project-screen-video-header {
            height: auto;

            .project-screen-video-header-button {
                padding-top: 10px;
                button {
                    width: 100%;
                }
            }
        }

        .project-screen-video-content {
            .project-screen-video-content-menu {
                height: auto;
            }
            .project-screen-video-content-body {
                .project-screen-video-content-upload {
                    width: auto;
                    top: 30px;
                    left: 30px;
                }
            }
        }
    }
}
