$font-awesome: 'FontAwesome';
$font-roboto: 'Roboto', sans-serif;

$color-black: #000000;
$color-white: #FFFFFF;

$color-green-1: #517059;
$color-green-2: #398439;
$color-green-3: #dff0d8;

$color-blue-1: #0791d0;
$color-blue-2: #0370a2;
$color-blue-3: #1974a0;
$color-blue-4: #4baedd;
$color-blue-5: #0378ae;

$color-red-1: #c9302c;
$color-red-2: #ac2925;
$color-red-3: #f2dede;

$color-yellow-1: #fead38;
$color-yellow-2: #fcd365;
$color-yellow-3: #fcf8e3;

$color-gray-1: #CCCCCC;
$color-gray-2: #e6e6e6;
$color-gray-3: #d6d6d6;
$color-gray-4: #efefef;

$margin-small: 10px;
$margin-default: 15px;
$margin-large: 30px;

$padding-small: 10px;
$padding-default: 15px;
$padding-large: 30px;

$sidebar-closed-width: 64px;

$header-height: 64px;
$sub-header-height: 48px;
$sub-header-inner-height: 40px;
$form-control-height: 40px;
$border-radius: 3px;
