# Intellij
.idea/
*.iml
*.iws

.htaccess
images/
ssh
ssh.pub

src/scripts/config.js
www
node_modules
bower_components
.sass-cache

!.tmp/styles/main.css
.tmp/*
.tmp
# Dont ignore this File has changes


# Cordova
/platforms
/plugins
