<div id="addComment" ng-class="{true: 'addCommentLeft', false: 'addCommentRight'}[addCommentPosition]" ng-show="showComments">
    <div class="comment-add" data-marker="1">
        <div class="row">
            <div class="col-md-10 col-sm-8 comment-add-desc">
                <h4>Add Comment</h4>
            </div>
            <div class="col-md-2 col-sm-4 comment-add-delicon">
                <img src="images/close-icon.png" ng-click="hideComments()">
            </div>
        </div>
        <div class="comment-chat-content">
            <div class="row" ng-repeat="comment in currentComments">
                <div class="col-sm-3">
                    <img src="images/chat-person-icon.png">
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-8">{{comment.fullname}}</div>
                    <div class="col-sm-4">{{comment.created | limitTo:-8}}</div>
                    <div class="col-sm-12">{{comment.content}}</div>
                </div>
            </div>
        </div>
        <form class="form-gray">
            <div class="row">
                <div class="comment-chat-input col-sm-12">
                    <div class="form-group">
                        <textarea name="comment-content" ng-model="commentContent" placeholder="Leave a comment..." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Choose recipients</label>
                        <select multiple="multiple" ng-model="commentRecipients" class="form-control">
                            <option ng-repeat="user in projectMembers" value={{user.uuid}}>{{user.fullname}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="assignTask" ng-checked="isTask" ng-true-value="1" ng-false-value="2">
                            Assign this as a task
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 comment-add-button">
                    <button class="btn btn-lg comment-buttoncancel btn-primary" type="reset" ng-click="hideComments()">
                        Cancel
                    </button>
                    <button class="btn btn-lg comment-buttonsubmit btn-primary" type="submit" ng-click="saveComments($event)">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
