<div class="project-content-menu">
    <div class="row">
        <div class="nav col-sm-12">
            <ul class="list-inline project-menu">
                <li ng-class="{'current' : isBuild()}">
                    <a class="btn btn-link hidden-xs" href="{{buildURL}}">BUILD</a>
                    <a class="btn btn-link visible-xs" href="{{buildURL}}"><i class="fa fa-cog"></i></a>
                </li>
                <li ng-if="hasScreens()" ng-class="{'current' : isScreen()}">
                    <a class="btn btn-link hidden-xs" href="{{screenURL}}">Screen</a>
                    <a class="btn btn-link visible-xs" href="{{screenURL}}"><i class="fa fa-photo"></i></a>
                </li>
                <li ng-if="hasVideos()" ng-class="{'current' : isVideo()}">
                    <a class="btn btn-link hidden-xs" href="{{videoURL}}">VIDEOS</a>
                    <a class="btn btn-link visible-xs" href="{{videoURL}}"><i class="fa fa-video-camera"></i></a>
                </li>
                <li ng-class="{'current' : isActivity()}">
                    <a class="btn btn-link hidden-xs" href="{{activityURL}}">ACTIVITY</a>
                    <a class="btn btn-link visible-xs" href="{{activityURL}}"><i class="fa fa-tasks"></i></a>
                </li>
                <li ng-class="{'current' : isComment()}">
                    <a class="btn btn-link hidden-xs" href="{{commentURL}}">COMMENTS</a>
                    <a class="btn btn-link visible-xs" href="{{commentURL}}"><i class="fa fa-comments"></i></a>
                </li>
            </ul>
            <div class="project-content-member pull-right">
                <ul class="list-inline hidden-xs">
                    <li ng-repeat="projectMember in projectMembers">
                        <img ng-if="projectMember.avatar != null" ng-src="{{projectMember.avatar}}" alt="{{projectMember.fullname}}"
                             title="{{projectMember.fullname}}">
                    </li>
                    <li ng-repeat="projectMember in projectMembers">
                        <img ng-if="projectMember.avatar == null" ng-src="images/Chan.png" alt="{{projectMember.fullname}}"
                             title="{{projectMember.fullname}}">
                    </li>
                    <li>
                        <img src="images/addMember-icon.png" ng-click="openAddProjectMember()">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
