<style>
/* colorpicker styles */
.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 460px;
    top:350px;
}
#picker {
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}
.controls {
    float: right;
    margin: 10px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.controls label {
    float: left;
}
.controls > div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
.preview {
    background-color:black;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    margin-left:20px;
}
</style>
<div class="drawing-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="drawing-container project-container">
        <div class="drawing-header project-header">
            <div class="row">
                <div class="drawing-header-account col-sm-6">
                    <span>Drawing</span>
                </div>
                <div class="drawing-header-button col-sm-6">
<!--                     <button class="btn btn-lg">MYSELF</button>
                    <button class="btn btn-lg">MY TEAM</button>
                    <button class="btn btn-lg">EVERYONE</button> -->
                    <button class="btn btn-lg">Save</button>
                    <button class="btn btn-lg">Open</button>
                </div>
            </div>
        </div>
        <div class="drawing-body project-body">
            <div class="row">
                <canvas class="drawingControl" id="drawingCanvas"></canvas>
                <canvas class="tempControl" id="tempCanvas"></canvas>
                <input type="text" class="canvasText" value="" style="display:none"/>
            </div>
        </div>
        <div class="drawing-footer project-footer">
            <div class="row">
                <div class="drawing-header-button">
                    <button class="btn drawing-tool" ng-click="type=1">Pen</button>
                    <button class="btn drawing-tool" ng-click="type=2">Line</button>
                    <button class="btn drawing-tool" ng-click="type=3">Arrow</button>
                    <button class="btn drawing-tool" ng-click="type=4">Rectangle</button>
                    <button class="btn drawing-tool" ng-click="type=5">Shape</button>
                    <button class="btn drawing-tool" ng-click="type=6">Marker</button>
                    <button class="btn drawing-tool" ng-click="type=7">Text</button>
                    <button class="btn drawing-tool" ng-click="type=8">Eraser</button>
                    <!-- preview element -->
                    <button class="btn preview"></button>
                    <!-- colorpicker element -->
                    <div class="colorpicker" style="display:none">
                        <canvas id="picker" var="1" width="300" height="300"></canvas>
                        <div class="controls">
                            <div><label>R</label> <input type="text" id="rVal" /></div>
                            <div><label>G</label> <input type="text" id="gVal" /></div>
                            <div><label>B</label> <input type="text" id="bVal" /></div>
                            <div><label>RGB</label> <input type="text" id="rgbVal" /></div>
                            <div><label>HEX</label> <input type="text" id="hexVal" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>