<div class="drawing-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="drawing-container project-container">
        <div class="drawing-header project-header">
            <div class="row">
                <div class="drawing-header-account col-sm-6">
                    <span>Drawing</span>
                </div>
                <div class="drawing-header-button col-sm-6">
<!--                     <button class="btn btn-lg">MYSELF</button>
                    <button class="btn btn-lg">MY TEAM</button>
                    <button class="btn btn-lg">EVERYONE</button> -->
                </div>
            </div>
        </div>
        <div class="drawing-body project-body">
            <div class="row">
                <canvas class="drawingControl" id="drawingCanvas"></canvas>
                <canvas class="tempControl" id="tempCanvas"></canvas>
                <input type="text" class="canvasText" value="" style="display:none"/>
            </div>
        </div>
        <div class="drawing-footer project-footer">
            <div class="row">
                <div class="">
                    <button class="btn drawing-tool-9" ng-click="selectTool(9)" style="margin-left:90px;"></button>
                    <button class="btn drawing-tool-1 selected" ng-click="selectTool(1)"></button>
                    <button class="btn drawing-tool-2" ng-click="selectTool(2)">Line</button>
                    <button class="btn drawing-tool-3" ng-click="selectTool(3)" style="display:none">Arrow</button>
                    <button class="btn drawing-tool-4" ng-click="selectTool(4)" style="display:none">Rectangle</button>
                    <button class="btn drawing-tool-5"></button>
                    <button class="btn drawing-tool-6" ng-click="selectTool(6)">Marker</button>
                    <button class="btn drawing-tool-7" ng-click="selectTool(7)"></button>
                    <button class="btn drawing-tool-8" ng-click="selectTool(8)"></button>
                    <!-- preview element -->
                    <button class="btn preview"></button>
                    <button class="btn drawing-tool-10" style="display:none"></button>
                    <button class="btn btn-op" ng-click="fileOp(1)">Save</button>
                    <button class="btn btn-op" ng-click="fileOp(2)">Open</button>
                    <!-- colorpicker element -->
                    <div class="colorpicker" style="display:none">
                        <canvas id="picker" var="1" width="300" height="300"></canvas>
                        <div class="controls">
                            <div><label>R</label> <input type="text" id="rVal" /></div>
                            <div><label>G</label> <input type="text" id="gVal" /></div>
                            <div><label>B</label> <input type="text" id="bVal" /></div>
                            <div><label>RGB</label> <input type="text" id="rgbVal" /></div>
                            <div><label>HEX</label> <input type="text" id="hexVal" /></div>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                    <div class="widthcontroller1" style="display:none">
                        <div class="controller-header">WIDTH</div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-width-1 selected" ng-click="selectWidth(1)">1x</button>
                            <button class="btn btn-extra btn-width-2" ng-click="selectWidth(2)">2x</button>
                            <button class="btn btn-extra btn-width-3" ng-click="selectWidth(3)">3x</button>
                            <button class="btn btn-extra btn-width-4" ng-click="selectWidth(4)">4x</button>
                            <button class="btn btn-extra btn-width-5" ng-click="selectWidth(5)">5x</button>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                    <div class="widthcontroller2" style="display:none">
                        <div class="controller-header">WIDTH</div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-width-1 selected" ng-click="selectWidth(1)">1x</button>
                            <button class="btn btn-extra btn-width-2" ng-click="selectWidth(2)">2x</button>
                            <button class="btn btn-extra btn-width-3" ng-click="selectWidth(3)">3x</button>
                            <button class="btn btn-extra btn-width-4" ng-click="selectWidth(4)">4x</button>
                            <button class="btn btn-extra btn-width-5" ng-click="selectWidth(5)">5x</button>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                    <div class="widthcontroller3" style="display:none">
                        <div class="controller-header">WIDTH</div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-width-1 selected" ng-click="selectWidth(1)">1x</button>
                            <button class="btn btn-extra btn-width-2" ng-click="selectWidth(2)">2x</button>
                            <button class="btn btn-extra btn-width-3" ng-click="selectWidth(3)">3x</button>
                            <button class="btn btn-extra btn-width-4" ng-click="selectWidth(4)">4x</button>
                            <button class="btn btn-extra btn-width-5" ng-click="selectWidth(5)">5x</button>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                    <div class="widthcontroller4" style="display:none">
                        <div class="controller-header">WIDTH</div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-width-1 selected" ng-click="selectWidth(1)">1x</button>
                            <button class="btn btn-extra btn-width-2" ng-click="selectWidth(2)">2x</button>
                            <button class="btn btn-extra btn-width-3" ng-click="selectWidth(3)">3x</button>
                            <button class="btn btn-extra btn-width-4" ng-click="selectWidth(4)">4x</button>
                            <button class="btn btn-extra btn-width-5" ng-click="selectWidth(5)">5x</button>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                    <div class="shapecontroller" style="display:none">
                        <div class="controller-header">SHAPE TOOL</div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-shape-1 selected" ng-click="selectShape(1)">Rect</button>
                            <button class="btn btn-extra btn-shape-2" ng-click="selectShape(2)">Cir</button>
                            <button class="btn btn-extra btn-shape-3" ng-click="selectShape(3)">Tri</button>
                            <button class="btn btn-extra btn-shape-4" ng-click="selectShape(4)">Star</button>
                        </div>
                        <div class="controller-body">
                            <button class="btn btn-extra btn-shape-5" ng-click="selectShape(5)">Bal</button>
                            <button class="btn btn-extra btn-shape-6" ng-click="selectShape(6)">Ar</button>
                            <button class="btn btn-extra btn-shape-7" ng-click="selectShape(7)">Poly</button>
                            <button class="btn btn-extra btn-shape-8" ng-click="selectShape(8)">Dia</button>
                        </div>
                        <div class="controller-body" style="border-top: grey; border-top-style: solid;">
                            <button class="btn btn-extra btn-width-1 selected" ng-click="selectWidth(1)">1x</button>
                            <button class="btn btn-extra btn-width-2" ng-click="selectWidth(2)">2x</button>
                            <button class="btn btn-extra btn-width-3" ng-click="selectWidth(3)">3x</button>
                            <button class="btn btn-extra btn-width-4" ng-click="selectWidth(4)">4x</button>
                            <button class="btn btn-extra btn-width-5" ng-click="selectWidth(5)">5x</button>
                        </div>
                        <div class="tabTriangle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>