<div class="drawing-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="drawing-container project-container">
        <div class="drawing-header project-header">
            <div class="row">
                <div class="drawing-header-account col-sm-6">
                    <span>Drawing</span>
                </div>
                <div class="drawing-header-button col-sm-6">
                    <button class="btn btn-lg">MYSELF</button>
                    <button class="btn btn-lg">MY TEAM</button>
                    <button class="btn btn-lg">EVERYONE</button>
                </div>
            </div>
        </div>
        <div class="drawing-body project-body">
            <div class="row">
                <div class="">
                    <canvas></canvas>
                </div>
            </div>
        </div>
        <div class="drawing-footer project-footer">
            <div class="row">
                <div class="drawing-header-button col-sm-6">
                    <button class="btn btn-lg">MYSELF</button>
                    <button class="btn btn-lg">MY TEAM</button>
                    <button class="btn btn-lg">EVERYONE</button>
                </div>
            </div>
        </div>
        <!-- <div ng-include="'views/includes/drawing.html'"></div> -->
    </div>
</div>
