<div class="message-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="message-container project-container project-comment-container">
        <div class="message-header project-header">
            <div class="row">
                <div class="message-header-title col-sm-6">
                    <span>MESSAGES</span>
                </div>
                <!-- <div class="message-header-button col-sm-6">
                    <button class="btn btn-lg" ng-click="openAddNewMessage()">New Message</button>
                </div> -->
            </div>
        </div>
        <div class="project-content project-comment-content">
            <div class="message-subheader ">
                <div class="message-subheader-unread col-sm-6">
                    <span>{{messages.length}} Unread Messages </span>
                    <img src="images/line-after-message.png">
                    <a href="javascript:void(0)">
                        <img src="images/search-icon.png">
                    </a>
                </div>
                <div class="message-subheader-previously col-sm-6">
                    <input type="checkbox">
                    Show previously viewed messages
                </div>
            </div>
            <div ng-include="'views/includes/comments-messages.html'"></div>

        </div>
    </div>
</div>
<div ng-include="'views/modal/includes/reply-message.html'"></div>
<div ng-include="'views/modal/includes/delete-message.html'"></div>
