<div class="userpage-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="userpage-container project-container">
        <div class="userpage-header project-header">
            <div class="row">
                <div class="userpage-header-account name col-sm-6">
                    <a href="#/team">
                        <img src="images/back-icon.png">
                    </a>
                    <span>Your Team</span>
                </div>
                <div class="userpage-header-button button col-sm-6">
                    <button class="btn btn-lg btn-primary" ng-click="openAddTeamMember()">Add Team Member</button>
                </div>
            </div>
        </div>
        <div class="userpage-content project-content">
            <div class="col-sm-12 userpage-content-container">
                <div class="userpage-content-intro">
                    <div class="row">
                        <div class="col-sm-3 col-md-1 userpage-content-img">
                            <img ng-src="{{::user.avatar}}" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-9 col-md-11 userpage-content-desc">
                            <p class="userpage-content-name">{{::user.fullname}}</p>

                            <p class="userpage-content-email">{{::user.email}}</p>

                            <p class="userpage-content-active">Last active {{::user.last_login_pretty}}</p>
                        </div>
                    </div>
                </div>
                <div class="userpage-content-ownedbyme">
                    <div class="col-sm-12 userpage-content-ownedbyme-title">Projects On This Team</div>
                    <div class="col-sm-12 userpage-content-ownedbyme-item" ng-repeat="project in projects">
                        <div class="col-sm-6">{{project.name}}</div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-primary" ng-click="invite(project)"
                                    ng-if="!isOnProject(project) && !project.invited">
                                Send Invite
                            </button>
                            <span class="btn-primary-outline btn" ng-if="isOnProject(project) && !project.invited">On Project</span>
                            <span class="btn-success-outline btn" ng-if="project.invited">Invited to Project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addTeamMember" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add Team Member</h3>
            </div>
            <form name="addPeopleToProject" class="form-gray">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 teammember-add-body">
                            <!-- <div class="form-group">
                                <select name="teammembertype" class="form-control teammember-add-select">
                                    <option value=0>Select Person</option>
                                </select>
                            </div> -->
                            <div class="form-group has-email">
                                <input type="text" name="teammemberemail" ng-model="teammemberemail" class="form-control teammember-add-email" placeholder="Enter an email"/>
                                <img class="teammember-add-emailicon" src="images/mail-icon.png">
                            </div>
                            <!-- <div class="form-group has-add">
                                <span>Add another person<img class="teammember-add-addAnother" src="images/addAnotherPeople-icon.png"></span>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 teammember-add-button">
                            <button class="btn btn-lg btn-primary" type="submit" ng-click="addTeamMember()">Invite
                                People
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
