<div class="activity-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="activity-container col-md-12">
        <div class="activity-header">
            <div class="activity-header-account col-md-6"><span>Account Activity</span></div>
            <div class="activity-header-button col-md-6">
                <button class="btn btn-lg">MYSELF</button>
                <button class="btn btn-lg">MY TEAM</button>
                <button class="btn btn-lg">EVERYONE</button>
            </div>
        </div>
        <div class="activity-content">
            <div class="activity-content-items col-md-10">
            </div>
            <div class="activity-content-delete col-md-2" droppable drop="handleDrop()">
                <img src="images/delete-icon.png" class="activity-content-deleteicon">
                <div class="activity-content-deleteintro" id="activity-content-deleteintro">
                    <p>DELETE</p>
                    <p>Drag & Drop here to delete</p>
                </div>
            </div>
        </div>
    </div>
</div>