<div class="forgot-container">
    <div class="forgot-logo"><a ng-href="#/"><img src="images/logo-account.png"></a></div>
    <div class="forgot-form">
        <form name="forgotform" ng-submit="processForm()" novalidate>
            <div class="col-lg-12">
                <input type="text" name="email" ng-model="formData.email" class="form-control forgot-email" placeholder="Email" required />
            </div>
            <div class="col-lg-12 forgot-button"><button class="btn btn-lg" type="submit">Reset Password</button></div>
        </form>
    </div>
    <div class="forgot-note">You can enter your email and then you will get the email with new password.</div>
</div>
