<div class="header-container">
    <div class="col-lg-10"><a href="javascript:void(0)"><img src="images/logo.png"></a></div>
    <div class="col-lg-2">
        <div class="col-lg-4"><img src="images/calender-icon.png" ng-click="showCalendar()"></div>
        <div class="col-lg-4"><img src="images/message-icon.png"></div>
        <div class="col-lg-4"><img src="images/help-icon.png"></div>
    </div>
</div>
<div id="datetimepicker">
    <div STYLE="background:#0378ae;height:60px;line-height:60px;color:#fff;font-size:20px;text-align:center;">MEETINGS</div>
</div>