<div class="header-container">
    <div class="col-lg-10"><a href="javascript:void(0)"><img src="images/logo.png"></a></div>
    <div class="col-lg-2">
        <div class="col-lg-4">
            <img src="images/calender-icon.png" ng-click="showCalendar()">
            <div id="datetimepicker">
                <div class="datetimepicker-title">MEETINGS<img src="images/calender-white-icon.png" ng-click="hideCalendar()"></div>
            </div>
        </div>
        <div class="col-lg-4"><img src="images/message-icon.png"></div>
        <div class="col-lg-4"><img src="images/help-icon.png"></div>
    </div>
</div>
<div id="meetingDetail" class="modal fade in" style="display: none;">
    <div class="newMeeting-add">
        <div class="col-lg-10 newMeeting-add-desc">MEETING PROJECT NAME</div>
        <div class="col-lg-2 newMeeting-add-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <form name="newMeeting">
            <div class="col-lg-12 newMeeting-add-body">
                <div class="form-group">
                    <textarea name="meetingMessage" ng-model="meetingMessage" placeholder="Notes" class="form-control newMeeting-message"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="meetingName" ng-model="meetingName" class="form-control newMeeting-name" placeholder="Meeting Name" />
                </div>
                <div class="form-group">
                    <input type="text" name="meetingDateTime" ng-model="meetingDateTime" class="form-control newMeeting-time" placeholder="Choose date & time" />
                </div>
                <div class="form-group">
                    <select name="meetingGroup" ng-model="meetingGroup" class="form-control newMeeting-group">
                        <option ng-repeat="user in users" value={{user.uuid}}>{{user.username}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 newMeeting-add-button">
                <button class="btn btn-lg" ng-click="addNewMeeting()">Create Meeting</button>       
            </div>
        </form>
    </div>
</div>
<div ng-show="startMeeting" style="height:70px;line-height:70px;text-align:center;position: absolute;top:0px;width:100%;background:#fff;border-bottom:1px solid #e3e3e3;z-index:3;">
    <div class="col-lg-4"><img src="images/Dawkins-l.png" class="img-circle"><img src="images/Dawkins-l.png" class="img-circle"><img src="images/Dawkins-l.png" class="img-circle"><img src="images/addUser-icon.png"></div>
    <div class="col-lg-4">
        <div style="background:#e3e3e3;height:30px;line-height:30px;width:78px;display:inline-block;border-radius:1px;">01:12:12</div>
        <div ng-click="endOneMeeting()" style="background:#2699ce;height:30px;line-height:30px;width:118px;color:#fff;display:inline-block;border-radius:1px;">END MEETING</div>
    </div>
    <div class="col-lg-4"><img src="images/phone-icon.png"></div>
</div>
<div  ng-show="startMeeting" class="build-content-chat">
    <div ng-repeat="comment in comments">
        {{comment.createor_fullname}} {{comment.comment}} {{comment.created}}
    </div>
    <form name="meeting-chat">
        <input type="text" name="meeting-chat-content" ng-model="chatComment">
        <button ng-click="sendChat()">SEND</button>
    </form>
</div>
<div  ng-show="startMeeting" class="build-content-tools">
    <ul>
        <li class="projectBuild-content-tools-li"><img src="images/comment-blue-icon.png" ng-click="openComment()"></li>
        <li class="projectBuild-content-tools-li"><img src="images/hotspots-blue-icon.png" ng-click="openHotspots()"></li>
        <li class="projectBuild-content-tools-brush"><img src="images/brush-black-icon.png" ng-click="openDrawing('brush')"></li>
        <li class="projectBuild-content-tools-eraser"><img src="images/eraser-black-icon.png" ng-click="openDrawing('eraser')"></li>
        <li class="projectBuild-content-tools-shape"><img src="images/shape-black-icon.png" ng-click="openDrawing('shape')"></li>
    </ul>
</div>