<div class="profileProject-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'" onload="setHeight()"></div>
    <div class="profileProject-container">
        <div class="profileProject-header">
            <div class="profileProject-header-name col-md-6">
                <span>Profile</span>
            </div>
            <div class="profileProject-header-button col-md-6">
                <button class="btn btn-lg">Save & Update</button>
            </div>
        </div>
        <div class="profileProject-content">
            <div class="profileProject-content-menu">
                <div class="profileProject-content-nav col-md-12">
                    <ul>
                        <li class="project-design-menu-current">MY PROJECTS</li>
                        <li ng-click="toProfile()">PROFILE</li>
                        <li ng-click="toBilling()">BILLING</li>
                        <li ng-click="toNotice()">NOTIFICATIONS</li>
                    </ul>
                </div>
            </div>
            <div class="profileProject-content-body">
                <div class="profileProject-content-projectH">
                    <div class="profileProject-content-projectH-l col-md-10">My Projects</div>
                    <div class="profileProject-content-projectH-r col-md-2"><span>Select Project<img src="images/select-project-icon.png"></span></div>
                </div>
                <div class="profileProject-content-projects">
                    <div class="profileProject-content-project">
                        <div class="profileProject-content-project-intro">
                            <span class="profileProject-content-project-name">Project Name</span> | <span class="profileProject-content-project-count">10 Screens</span>
                        </div>
                        <div class="profileProject-content-project-thumb">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                        </div>
                    </div>
                    <div class="profileProject-content-project">
                        <div class="profileProject-content-project-intro">
                            <span class="profileProject-content-project-name">Project Name</span> | <span class="profileProject-content-project-count">2 Videos</span>
                        </div>
                        <div class="profileProject-content-project-thumb">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                        </div>
                    </div>
                    <div class="profileProject-content-project">
                        <div class="profileProject-content-project-intro">
                            <span class="profileProject-content-project-name">Project Name</span> | <span class="profileProject-content-project-count">2 Videos</span>
                        </div>
                        <div class="profileProject-content-project-thumb">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                            <img src="images/screen-thumb.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>