<div class="profileNotice-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'" onload="setHeight()"></div>
    <div class="profileNotice-container">
        <div class="profileNotice-header">
            <div class="profileNotice-header-name col-lg-6">
                <span>Profile</span>
            </div>
            <div class="profileNotice-header-button col-lg-6">
                <button class="btn btn-lg">Save & Update</button>
            </div>
        </div>
        <div class="profileNotice-content">
            <div class="profileNotice-content-menu">
                <div class="profileNotice-content-nav col-lg-12">
                    <ul>
                        <li ng-click="toProject()">MY PROJECTS</li>
                        <li ng-click="toProfile()">PROFILE</li>
                        <li ng-click="toBilling()">BILLING</li>
                        <li class="project-design-menu-current">NOTIFICATIONS</li>
                    </ul>
                </div>
            </div>
            <div class="profileNotice-content-body">
                <div class="profileNotice-content-title">Notification Center</div>
                <div class="profileNotice-content-notice">
                    <div class="profileNotice-content-notice-general col-lg-12">
                        <div class="profileNotice-content-notice-generaltitle">General Updates</div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Blog Updates</div>
                            <div class="col-lg-1"><img src="images/on-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Promotions</div>
                            <div class="col-lg-1"><img src="images/on-icon.png"></div>
                        </div>
                    </div>
                    <div class="profileNotice-content-notice-general col-lg-12">
                        <div class="profileNotice-content-notice-generaltitle">All Projects</div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name A</div>
                            <div class="col-lg-1"><img src="images/on-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name B</div>
                            <div class="col-lg-1"><img src="images/on-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name C</div>
                            <div class="col-lg-1"><img src="images/on-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name D</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name E</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name F</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name G</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name H</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name I</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name J</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name K</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                        <div class="profileNotice-content-notice-generalitem col-lg-12">
                            <div class="col-lg-11">Project Name L</div>
                            <div class="col-lg-1"><img src="images/off-icon.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>