<div class="profileProject-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="profileProject-container">
        <div class="profileProject-header">
            <div class="profileProject-header-name col-md-12">
                <span>Profile</span>
            </div>
        </div>
        <div class="profileProject-content">
            <div class="profileProject-content-menu">
                <div class="profileProject-content-nav col-md-12">
                    <ul>
                        <li class="project-design-menu-current">MY PROJECTS</li>
                        <li ng-click="toProfile()">PROFILE</li>
                        <li ng-click="toBilling()">BILLING</li>
                        <li ng-click="toNotice()">NOTIFICATIONS</li>
                    </ul>
                </div>
            </div>
            <div class="profileProject-content-body">
                <div class="profileProject-content-projectH">
                    <div class="profileProject-content-projectH-l col-md-10">My Projects</div>
                    <div class="profileProject-content-projectH-r col-md-2"><span>Select Project<img src="images/select-project-icon.png"></span></div>
                </div>
                <div class="profileProject-content-projects">
                    <div class="profileProject-content-project" ng-repeat="project in projectInfo">
                        <div class="profileProject-content-project-intro">
                            <span class="profileProject-content-project-name">{{project[0]}}</span> | 
                            <span class="profileProject-content-project-count">{{project[2]}}</span>
                        </div>
                        <div class="profileProject-content-project-thumb" ng-if="project[1] === 1 || project[1] === 3">
                            <img ng-src="{{detail.url}}" ng-repeat="detail in project[3]">
                        </div>
                        <div class="profileProject-content-project-thumb" ng-if="project[1] === 2">
                            <video ng-src="{{detail.url}}" ng-repeat="detail in project[3]"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>