<div class="projectBuild-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar-closed.html'" onload="setHeight()"></div>
    <div class="projectBuild-container col-lg-12">
        <div class="projectBuild-header">
            <div class="projectBuild-header-name col-lg-6">
                <span ng-bind="updateProjectTitle"></span><img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
            </div>
            <div class="projectBuild-header-button col-lg-6">
                <button class="btn btn-lg">Share</button>
                <button class="btn btn-lg">Start a Metting</button>
            </div>
        </div>
        <div class="projectBuild-content">
            <div class="projectBuild-content-menu">
                <div class="projectBuild-content-nav col-lg-6">
                    <ul>
                        <li class="project-design-menu-current">Build</li>
                        <li  ng-click="toScreen()">Screens</li>
                        <li ng-click="toActivity()">ACTIVITY</li>
                        <li ng-click="toComment()">COMMENTS</li>
                        <li ng-click="openMessage(activeProjectUuid)">MESSAGES</li>
                    </ul>
                </div>
                <div class="projectBuild-content-member col-lg-6">
                    <ul>
                        <li><img src="images/member-two.png"></li>
                        <li><img src="images/member-one.png"></li>
                        <li><img src="images/addMember-icon.png" ng-click="openAddProjectMember()"></li>
                    </ul>
                </div>
            </div>
            <div class="projectBuild-content-body">
                <div class="projectBuild-content-drawing"><canvas id="drawing" width="1000px" height="423px"></canvas></div>
                <div class="projectBuild-content-tools">
                    <ul>
                        <li><img src="images/comment-blue-icon.png" ng-click="openComment()"></li>
                        <li><img src="images/hotspots-blue-icon.png" ng-click="openHotspots()"></li>
                        <li><img src="images/brush-black-icon.png" ng-click="openDrawing('brush')"></li>
                        <li><img src="images/eraser-black-icon.png" ng-click="openDrawing('eraser')"></li>
                        <li><img src="images/shape-black-icon.png" ng-click="openDrawing('shape')"></li>
                    </ul>
                </div>
                <div class="projectBuild-content-addScreens"><img  src="images/addScreen-icon.png" ng-click="openAddScreen()">Add Screens</div>
                <div class="projectBuild-content-brush" ng-hide="brushTool">
                    <div class="projectBuild-content-brushTitle col-lg-12">BRUSH TOOL</div>
                    <div class="projectBuild-content-brushContent">
                        <div class="projectBuild-content-brushColorLeft col-lg-8">
                            <div id="pickerBrush"></div>
                        </div>
                        <div class="projectBuild-content-brushColorRight col-lg-4">
                        </div>
                        <div class="projectBuild-content-brushBottom col-lg-12">
                            <div class="col-lg-4"><img  src="images/8px-icon.png" ng-click="setBrushWidth(8)"></div>
                            <div class="col-lg-4"><img  src="images/20px-icon.png" ng-click="setBrushWidth(20)"></div>
                            <div class="col-lg-4"><img  src="images/30px-icon.png" ng-click="setBrushWidth(30)"></div>
                        </div>
                    </div>
                </div>
                <div class="projectBuild-content-eraser" ng-hide="eraserTool">
                    <div class="projectBuild-content-eraserTitle col-lg-12">ERASER  TOOL</div>
                    <div class="projectBuild-content-eraserContent col-lg-12">
                        <div class="col-lg-4"><img  src="images/8px-icon.png" ng-click="setEraserWidth(8)"></div>
                        <div class="col-lg-4"><img  src="images/20px-icon.png" ng-click="setEraserWidth(20)"></div>
                        <div class="col-lg-4"><img  src="images/30px-icon.png" ng-click="setEraserWidth(30)"></div>
                    </div>
                </div>
                <div class="projectBuild-content-shape" ng-hide="shapeTool">
                    <div class="projectBuild-content-shapeTitle col-lg-12">SHAPE TOOL</div>
                    <div class="projectBuild-content-shapeContent">
                        <div class="projectBuild-content-shapeLeft col-lg-6">
                            <div class="col-lg-4"><img  src="images/square-icon.png" ng-click="drawSquare()"></div>
                            <div class="col-lg-4"><img  src="images/triangle-icon.png" ng-click="drawTriangle()"></div>
                            <div class="col-lg-4"><img  src="images/circle-icon.png" ng-click="drawCircle()"></div>
                            <div class="col-lg-4"><img  src="images/talk-icon.png" ng-click="drawTalk()"></div>
                            <div class="col-lg-4"><img  src="images/arrow-icon.png" ng-click="drawArrow()"></div>
                            <div class="col-lg-4"><img  src="images/star-icon.png" ng-click="drawStar()"></div>
                            <div class="col-lg-12"></div>
                            <div class="col-lg-4"><img  src="images/8px-icon.png" ng-click="setPenWidth(0)"></div>
                            <div class="col-lg-4"><img  src="images/20px-icon.png" ng-click="setPenWidth(1)"></div>
                            <div class="col-lg-4"><img  src="images/30px-icon.png" ng-click="setPenWidth(2)"></div>
                        </div>
                        <div class="projectBuild-content-colorRight col-lg-6">
                            <div id="pickerShape"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updateproject" class="modal fade in" style="display: none;">
    <div class="project-update">
        <div class="col-lg-12 project-update-desc">UPDATE PROJECT</div>
        <form name="updateProject">
            <div class="col-lg-12 project-update-body">
                <input type="text" name="projecttitle" ng-model="updateProjectTitle" class="form-control project-update-title" />
                <select name="projecttype"  ng-model="updateProjectTypeid" class="form-control project-update-type">
                    <option value=0>Project Type</option>
                    <option value=1>UI/UX Project</option>
                    <option value=2>Video Project</option>
                    <option value=3>Business Template</option>
                </select>	        
            </div>
            <div class="col-lg-12 project-update-button">
                <button class="btn btn-lg project-update-buttoncancel" type="cancel" data-dismiss="modal">Cancel</button>
                <button class="btn btn-lg project-update-buttonsubmit" type="submit" ng-click='updateMyProject(activeProjectUuid)'>Save</button>        
            </div>
        </form>
    </div>
</div>
<div id="addPeopleToProject" class="modal fade in" style="display: none;">
    <div class="teammember-add">
        <div class="col-lg-10 teammember-add-desc">ADD PEOPLE TO THE PROJECT</div>
        <div class="col-lg-2 teammember-add-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <form name="createteammember">
            <div class="col-lg-12 teammember-add-body">
                <div class="form-group">
                    <select name="teammembertype" class="form-control teammember-add-select">
                        <option value=0>Select Person</option>
                        <option ng-repeat="user in users" value={{user.uuid}}>{{user.username}}</option>
                    </select>
                </div>
                <div class="form-group has-email">
                    <input type="text" name="teammemberemail" ng-model="memberEmail" class="form-control teammember-add-email" placeholder="Enter an email" />
                    <img class="teammember-add-emailicon" src="images/mail-icon.png">
                </div>
                <div class="form-group has-add">
                    <span>Add another person<img class="teammember-add-addAnother" src="images/addAnotherPeople-icon.png"></span>
                </div>
            </div>
            <div class="col-lg-12 teammember-add-button">
                <button class="btn btn-lg" type="submit" ng-click="addProjectMember(addProjectMemberUuid)">Invite People</button>       
            </div>
        </form>
    </div>
</div>