<div class="projectActivity-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'" onload="setHeight()"></div>
    <div class="projectActivity-container">
        <div class="projectActivity-header">
            <div class="projectActivity-header-name col-md-6">
                <span ng-bind="updateProjectTitle"></span><img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
            </div>
            <div class="projectActivity-header-button col-md-6">
                <button class="btn btn-lg">Share</button>
                <button class="btn btn-lg" ng-click="openNewMeeting(activeProjectUuid)">Create a Meeting</button>
            </div>
        </div>
        <div class="projectActivity-content">
            <div class="projectActivity-content-menu">
                <div class="projectActivity-content-nav col-md-6">
                    <ul>
                        <li ng-click="toScreen()">Screens</li>
                        <li class="project-design-menu-current">ACTIVITY</li>
                        <li ng-click="toComment()">COMMENTS</li>
                    </ul>
                </div>
                <div class="projectActivity-content-member col-md-6">
                    <ul>
                        <li ng-repeat="projectMember in projectMembers"><img src="images/member-one.png"></li>
                        <li><img src="images/addMember-icon.png" ng-click="openAddProjectMember()" class="addMemberIcon"></li>
                    </ul>
                </div>
            </div>
            <div class="projectActivity-content-body">
                <div class="projectActivity-content-items col-md-10">
                    <div class="col-md-12 projectActivity-content-item" ng-repeat="activity in projectActivities">
                        <div class="projectActivity-content-img col-md-3"><img src="images/Dawkins.png"></div>
                        <div class="projectActivity-content-desc col-md-9">
                            <div class="col-md-9">{{activity.title}}</div>
                            <div class="col-md-3">{{activity.created}}</div>
                            <div class="col-md-12"><img src="images/thumbs.png"></div>
                            <div class="col-md-12">{{activity.content}}</div>
                            <div style="position: absolute;top:0px;right:0px;"><img src="images/dragbar-icon.png" id="drag{{$index}}" draggable></div>
                        </div>
                    </div>
                </div>
                <div class="projectActivity-content-delete col-md-2" droppable drop="handleDrop()">
                    <img src="images/delete-icon.png" class="projectActivity-content-deleteicon">
                    <div class="projectActivity-content-deleteintro" id="projectActivity-content-deleteintro">
                        <p>DELETE</p>
                        <p>Drag & Drop here to delete</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updateproject" class="modal fade in" style="display: none;">
    <div class="project-update">
        <div class="col-md-12 project-update-desc">UPDATE PROJECT</div>
        <form name="updateProject">
            <div class="col-md-12 project-update-body">
                <input type="text" name="projecttitle" ng-model="updateProjectTitle" class="form-control project-update-title" />
                <select name="projecttype"  ng-model="updateProjectTypeid" class="form-control project-update-type">
                    <option value=0>Project Type</option>
                    <option value=1>UI/UX Project</option>
                    <option value=2>Video Project</option>
                    <option value=3>Business Template</option>
                </select>	        
            </div>
            <div class="col-md-12 project-update-button">
                <button class="btn btn-lg project-update-buttoncancel" type="cancel" data-dismiss="modal">Cancel</button>
                <button class="btn btn-lg project-update-buttonsubmit" type="submit" ng-click='updateMyProject(activeProjectUuid)'>Save</button>        
            </div>
        </form>
    </div>
</div>
<div id="addPeopleToProject" class="modal fade in" style="display: none;">
    <div class="teammember-add">
        <div class="col-md-10 teammember-add-desc">ADD PEOPLE TO THE PROJECT</div>
        <div class="col-md-2 teammember-add-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <form name="addPeopleToProject">
            <div class="col-md-12 teammember-add-body">
                <div class="form-group">
                    <select name="teammembertype" class="form-control teammember-add-select">
                        <option value=0>Select Person</option>
                        <option ng-repeat="user in users" value={{user.uuid}}>{{user.username}}</option>
                    </select>
                </div>
                <div class="form-group has-email">
                    <input type="text" name="teammemberemail" ng-model="memberEmail" class="form-control teammember-add-email" placeholder="Enter an email" />
                    <img class="teammember-add-emailicon" src="images/mail-icon.png">
                </div>
                <div class="form-group has-add">
                    <span>Add another person<img class="teammember-add-addAnother" src="images/addAnotherPeople-icon.png"></span>
                </div>
            </div>
            <div class="col-md-12 teammember-add-button">
                <button class="btn btn-lg" type="submit" ng-click="addProjectMember(addProjectMemberUuid)">Invite People</button>       
            </div>
        </form>
    </div>
</div>
<div id="newMeeting" class="modal fade in" style="display: none;">
    <div class="newMeeting-add">
        <div class="col-md-10 newMeeting-add-desc">CREATE A MEETING</div>
        <div class="col-md-2 newMeeting-add-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <form name="newMeeting">
            <div class="col-md-12 newMeeting-add-body">
                <div class="form-group">
                    <textarea name="meetingMessage" ng-model="meetingMessage" placeholder="Notes" class="form-control newMeeting-message"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="meetingName" ng-model="meetingName" class="form-control newMeeting-name" placeholder="Meeting Name" />
                </div>
                <div class="form-group">
                    <input type="text" name="meetingDateTime" ng-model="meetingDateTime" class="form-control newMeeting-time" placeholder="Choose date & time" />
                </div>
                <div class="form-group">
                    <select name="meetingGroup" ng-model="meetingGroup" class="form-control newMeeting-group">
                        <option ng-repeat="user in users" value={{user.uuid}}>{{user.username}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 newMeeting-add-button">
                <button class="btn btn-lg" ng-click="addNewMeeting()">Create Meeting</button>       
            </div>
        </form>
    </div>
</div>