<div class="register-container col-lg-12">
    <div class="register-logo"><img src="images/logo-account.png"></div>
    <div class="register-billing">
        <div class="profileBilling-content-title">Your Billing</div>
        <div class="profileBilling-content-billing-changrCard col-lg-12">
            <div class="profileBilling-content-billing-changeCard-one col-lg-12">
                <div class="col-lg-6">Plan Type</div>
                <div class="col-lg-6">Add Team Members</div>
            </div>
            <div class="profileBilling-content-billing-changeCard-two col-lg-12">
                <div class="col-lg-6">
                    <div class="profileBilling-content-billing-changeCard-two-L">Professional - $25 per month</div>
                </div>
                <div class="col-lg-6">
                    <div class="profileBilling-content-billing-changeCard-two-m col-lg-2">-</div>
                    <div class="profileBilling-content-billing-changeCard-two-r col-lg-8">+ 1 Team Member - $10.00</div>
                    <div class="profileBilling-content-billing-changeCard-two-p col-lg-2">+</div>
                </div>
            </div>
            <div class="profileBilling-content-billing-changeCard-three col-lg-12">
                <div class="col-lg-2"><input type="radio" value="1" name="cardCategory"><img src="images/visa-icon.png"></div>
                <div class="col-lg-2"><input type="radio" value="2" name="cardCategory"><img src="images/master-card-icon.png"></div>
                <div class="col-lg-2"><input type="radio" value="3" name="cardCategory"><img src="images/america-express-icon.png"></div>
                <div class="col-lg-2"><input type="radio" value="4" name="cardCategory"><img src="images/discover-icon.png"></div>
                <div class="col-lg-2"><input type="radio" value="5" name="cardCategory"><img src="images/paypal-icon.png"></div>
            </div>
            <div class="profileBilling-content-billing-changeCard-four col-lg-12">
                <div class="col-lg-4">First Name</div>
                <div class="col-lg-4">Last Name</div>
                <div class="col-lg-4">Phone Number</div>
            </div>
            <div class="profileBilling-content-billing-changeCard-five col-lg-12">
                <div class="col-lg-4"><input type="text"></div>
                <div class="col-lg-4"><input type="text"></div>
                <div class="col-lg-4"><input type="text"></div>
            </div>
            <div class="profileBilling-content-billing-changeCard-six col-lg-12">
                <div class="col-lg-4">City</div>
                <div class="col-lg-2">State</div>
                <div class="col-lg-4">Country</div>
                <div class="col-lg-2">Zip Code</div>
            </div>
            <div class="profileBilling-content-billing-changeCard-seven col-lg-12">
                <div class="profileBilling-content-billing-changeCard-city col-lg-4"><input type="text"></div>
                <div class="profileBilling-content-billing-changeCard-state col-lg-2"><input type="text"></div>
                <div class="profileBilling-content-billing-changeCard-country col-lg-4"><input type="text"></div>
                <div class="profileBilling-content-billing-changeCard-code col-lg-2"><input type="text"></div>
            </div>
            <div class="profileBilling-content-billing-changeCard-eight col-lg-12">
                <div class="col-lg-6">Credit Card Number</div>
                <div class="col-lg-4">Expiration Date</div>
                <div class="col-lg-2">CVV</div>
            </div>
            <div class="profileBilling-content-billing-changeCard-nine col-lg-12">
                <div class="profileBilling-content-billing-changeCard-cardNum col-lg-6"><input type="text"></div>
                <div class="profileBilling-content-billing-changeCard-expirationM col-lg-2"><input type="text" placeholder="MM"></div>
                <div class="profileBilling-content-billing-changeCard-expirationY col-lg-2"><input type="text" placeholder="YY"></div>
                <div class="profileBilling-content-billing-changeCard-cvv col-lg-2"><input type="text"></div>
            </div>
            <div class="profileBilling-content-billing-changeCard-ten col-lg-12">
                <div class="col-lg-8">
                    <div class="profileBilling-content-billing-changeCard-planinfo">Professional Plan + 1 Team Member $35.00</div>
                </div>
                <div class="col-lg-4"><button class="btn btn-lg profileBilling-content-billing-changeCard-button">Buy Now</button></div>
            </div>
        </div>
    </div>
</div>