<div class="siderBar" ng-controller="siderBarCtrl">
    <div class="siderbar-closed-container" ng-hide="expandMenuFlag">
        <img class="siderbar-closed-img" src="images/Chan.png" ng-click="goToProfile()" ng-if="userAvatar == ''">
        <img class="siderbar-closed-img" ng-src="{{userAvatar}}" ng-click="goToProfile()" ng-if="userAvatar != ''">
        <div class="col-md-12"><a href="#/project" title="project" alt="project"><img src="images/project-icon.png"></a></div>
        <div class="col-md-12"><a href="#/activity" title="activity" alt="activity"><img src="images/activity-icon.png"></a></div>
        <div class="col-md-12"><a href="#/team" title="team" alt="team"><img src="images/team-icon.png"></a></div>
        <div class="col-md-12"><a href="javascript:void(0)" title="task" alt="task"><img src="images/task-icon.png"></a></div>
        <div class="col-md-12"><a href="javascript:void(0)" title="logout" ng-click="Logout()" alt="logout"><img src="images/logout-icon.png"></a></div>
        <div class="siderbar-closed-container-expand col-md-12">
            <img src="images/expand-icon.png" ng-click="expandMenu()" title="expand">
        </div>
    </div>
    <div class="siderbar-expand-container" ng-show="expandMenuFlag">
        <div class="siderbar-expand-profileContainer">
            <div class="siderbar-expand-profileView" ng-click="goToProfile()">View Profile</div>
        </div>
        <img class="siderbar-expand-img" src="images/Chan.png" ng-click="goToProfile()" ng-if="userAvatar == ''">
        <img class="siderbar-expand-img" ng-src="{{userAvatar}}" ng-click="goToProfile()" ng-if="userAvatar != ''">
        <div class="col-md-12"><a href="#/project" title="project"><img src="images/project-icon.png">Project</a></div>
        <div class="col-md-12"><a href="#/activity" title="activity"><img src="images/activity-icon.png">Activity</a></div>
        <div class="col-md-12"><a href="#/team" title="team"><img src="images/team-icon.png">Team</a></div>
        <div class="col-md-12"><a href="javascript:void(0)" title="task"><img src="images/task-icon.png">Tasks</a></div>
        <div class="col-md-12"><a href="javascript:void(0)" title="logout" ng-click="Logout()"><img src="images/logout-icon.png">Logout</a></div>
        <div class="siderbar-closed-container-expand col-md-12">
            <img src="images/expand-back-icon.png" ng-click="closeMenu()" title="close">
        </div>
    </div>
</div>