<div class="siderbar-closed-container">
    <img src="images/user.png">
    <div class="col-lg-12"><a href="#/project"><img src="images/project-icon.png"></a></div>
    <div class="col-lg-12"><a href="#/activity"><img src="images/activity-icon.png"></a></div>
    <div class="col-lg-12"><a href="#/team"><img src="images/team-icon.png"></a></div>
    <div class="col-lg-12"><a href="javascript:void(0)"><img src="images/task-icon.png"></a></div>
    <div class="siderbar-closed-container-expand col-lg-12"><a href="javascript:void(0)"><img src="images/expand-icon.png"></a></div>
</div>