<div class="team-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar-closed.html'"></div>
    <div class="team-container">
        <div class="team-header">
            <div class="team-header-account col-lg-6"><span>Your Team</span></div>
            <div class="team-header-button col-lg-6">
                <button class="btn btn-lg">Add Team Member</button>
            </div>
        </div>
        <div class="team-content">
            <div class="col-lg-4">
                <div class="col-lg-12 team-content-itemimg">
                    <a href="#/userpage"><img src="images/Dawkins.png" class="img-circle"></a>
                </div>
                <div class="col-lg-12 team-content-itemname">
                    <span>R.Dawkins</span>
                </div>
            </div>
            <div class="col-lg-4 team-content-offset">
                <div class="col-lg-12 team-content-itemimg">
                    <a href="#/userpage"><img src="images/Chan.png" class="img-circle"></a>
                </div>
                <div class="col-lg-12 team-content-itemname">
                    <span>J.Chan</span>
                </div>
            </div>
            <div class="col-lg-4 team-content-offset">
                <div class="col-lg-12 team-content-itemimg">
                    <a href="#/userpage"><img src="images/Dawkins.png" class="img-circle"></a>
                </div>
                <div class="col-lg-12 team-content-itemname">
                    <span>R.Dawkins</span>
                </div>
            </div>
        </div>
    </div>
</div>

