<div class="team-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar-closed.html'"></div>
    <div class="team-container">
        <div class="team-header">
            <div class="team-header-account col-lg-6"><span>Your Team</span></div>
            <div class="team-header-button col-lg-6">
                <button class="btn btn-lg" ng-click="openAddTeamMember()">Add Team Member</button>
            </div>
        </div>
        <div class="team-content">
            <div class="col-lg-4 team-content-offset" ng-repeat="team in teams">
                <div class="col-lg-12 team-content-itemimg">
                    <a href="#/userpage"><img src="images/Dawkins.png" class="img-circle"></a>
                </div>
                <div class="col-lg-12 team-content-itemname">
                    <span>{{team.member}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addTeamMember" class="modal fade in" style="display: none;">
    <div class="teammember-add">
        <div class="col-lg-10 teammember-add-desc">ADD PEOPLE TO TEAM</div>
        <div class="col-lg-2 teammember-add-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <form name="createteammember">
            <div class="col-lg-12 teammember-add-body">
                <div class="form-group">
                    <select name="teammembertype" ng-model="memberUuid" class="form-control teammember-add-select">
                        <option value=0>Select Person</option>
                        <option value=1>Charles Haggas</option>
                        <option value=2>Ambrose Bierce</option>
                        <option value=3>Isaac Asimov</option>
                    </select>
                </div>
                <div class="form-group has-email">
                    <input type="text" name="teammemberemail" ng-model="teammemberemail" class="form-control teammember-add-email" placeholder="Enter an email" />
                    <img class="teammember-add-emailicon" src="images/mail-icon.png">
                </div>
                <div class="form-group has-add">
                    <span>Add another person<img class="teammember-add-addAnother" src="images/addAnotherPeople-icon.png"></span>
                </div>
            </div>
            <div class="col-lg-12 teammember-add-button">
                <button class="btn btn-lg" type="submit" ng-click="addTeamMember()">Invite People</button>       
            </div>
        </form>
    </div>
</div>
