<div class="team-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="team-container">
        <div class="team-header">
            <div class="team-header-account">
                <div class="col-md-9 team-header-userName">{{currentUser}}</div>
                <div class="col-md-3 team-header-select">
                    <span class="defaultTeam">Select Teams</span>
                    <img src="images/select-project-icon.png" ng-click="openTeams($event)">
                    <ul class="teams">
                        <li ng-click="selectTeam('{{team.name}}',$index)" ng-repeat="team in teams">{{team.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="team-content">
            <div>
                <div class="col-md-4 team-content-offset" ng-repeat="team in teams">
                    <div class="col-md-12 team-content-itemimg">
                        <img src="images/Dawkins.png" class="img-circle" ng-mouseover="hoverOver($event)">
                    </div>
                    <div class="col-md-12 team-content-itemname">
                        <span>{{team.fullname}}</span>
                    </div>
                    <div class="team-content-permissions" ng-mouseleave="hoverLeave($event)">
                        <div class="team-content-permissionsEdit" ng-click="goToEdit('{{team.owner_uuid}}','{{team.uuid}}')">Edit Permissions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
