<div class="templates-page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'" onload="setHeight()"></div>
    <div class="templates-container">
        <div class="templates-header">
            <div class="templates-header-name col-lg-10">
                <span>Select Your Templates</span>
            </div>
            <div class="templates-header-button col-lg-2">
                <span>Filter Templates<img src="images/select-project-icon.png"></span>
            </div>
        </div>
        <div class="templates-content">
            <div class="templates-content-body">
                <div class="templates-content-unselect col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/power-template.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Power Templates</div>
                </div>
                <div class="templates-content-select col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/problem-solve.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Problem Solving</div>
                </div>
                <div class="templates-content-unselect col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/process.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Process</div>
                </div>
                <div class="templates-content-select col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/informational.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Informational</div>
                </div>
                <div class="templates-content-unselect col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/power-template.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Power Templates</div>
                </div>
                <div class="templates-content-select col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/problem-solve.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Problem Solving 2</div>
                </div>
                <div class="templates-content-unselect col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/process.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Process</div>
                </div>
                <div class="templates-content-select col-lg-6">
                    <div class="templates-content-template-icon">
                        <img src="images/informational.png">
                        <img src="images/template-select-icon.png" class="templates-content-template-select">
                    </div>
                    <div class="templates-content-template-name">Informational 2</div>
                </div>
            </div>
        </div>
    </div>
</div>