<div class="modal fade default">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form password-form" ng-submit="submit(resetForm.$valid)" name="resetForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="dismissModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reset Password</h4>
                </div>
                <div class="modal-body">
                    <p>Please enter the email address that you used when creating your account.
                        An email will be sent to that address with further instructions on how to reset your password.</p>

                    <div class="alert alert-success animated fade-in-left top-alert" ng-show="alertSuccess">
                        <p ng-bind-html="alertSuccess"></p>
                    </div>
                    <div class="alert alert-danger animated fade-in-left top-alert" ng-show="alertError">
                        <p ng-bind-html="alertError"></p>
                    </div>

                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" ng-model="model.email" type="email" name="email" autocomplete="false" required/>
                    </div>
                    <div ng-messages="resetForm.email.$error"
                         ng-if="(resetForm.$submitted || resetForm.email.$touched)">
                        <div class="alert alert-danger form-alert" ng-message="required">
                            <p>Please enter your email address</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-show="!saving && !saved">
                        Reset Password
                    </button>
                    <button class="btn btn-primary-2" ng-show="saving">
                        <i class="fa fa-spin fa-spinner"></i> Submitting...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
