<div class="modal fade modal-alert error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Free Trial Expired</h4>
            </div>
            <div class="modal-body">
                <p>Your free trial has expired. If you would like to continue using Conojo, please choose a valid plan
                    from our billing area.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary" data-dismiss="modal" ng-click="viewLink('#/profile-billing')">
                    Choose A Plan
                    <i class="fa fa-chevron-right"></i>
                </button>
                <button type="button" class="btn pull-left btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
