<div class="activity-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="activity-container col-md-12">
        <div class="activity-header">
            <div class="activity-header-account col-md-6">
                <span>Account Activity</span>
            </div>
            <div class="activity-header-button col-md-6">
                <!-- <button class="btn btn-lg">MYSELF</button>
                <button class="btn btn-lg">MY TEAM</button>
                <button class="btn btn-lg">EVERYONE</button> -->
            </div>
        </div>
        <div ng-include="'views/includes/project-activity.html'"></div>
    </div>
</div>
