<div class="profileBilling-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="profileBilling-container">
        <div class="profileBilling-header">
            <div class="profileBilling-header-name col-md-12">
                <span>Profile</span>
            </div>
        </div>
        <div class="profileBilling-content">
            <div class="profileBilling-content-menu">
                <div class="profileBilling-content-nav col-md-12">
                    <ul class="list-inline">
                        <li ng-click="toProject()">MY PROJECTS</li>
                        <li ng-click="toProfile()">PROFILE</li>
                        <li class="project-design-menu-current">BILLING</li>
                        <li ng-click="toNotice()">NOTIFICATIONS</li>
                    </ul>
                </div>
            </div>
            <div class="profileBilling-content-body">
                <div class="profileBilling-content-one" ng-show="billingOne">
                    <div class="profileBilling-content-title">Your Billing</div>
                    <div class="profileBilling-content-billing">
                        <div class="profileBilling-content-billing-plan">
                            <div class="profileBilling-content-billing-plantitle col-md-1">Your Plan</div>
                            <div class="profileBilling-content-billing-planinfo col-md-5" ng-if="planId == ''">You don't have a plan.Please select.</div>
                            <div class="profileBilling-content-billing-planinfo col-md-5" ng-if="planId != ''">{{planName}} --- ${{planPrice}}/Month</div>
                            <div class="profileBilling-content-billing-upgrade col-md-3" ng-click="upgradePlan()">Upgrade Plan</div>
                            <div class="profileBilling-content-billing-cancel col-md-3" ng-clcik="openCancelPlan()">Cancel Plan</div>
                        </div>
                        <div class="profileBilling-content-billing-history">
                            <div class="profileBilling-content-billing-historytitle">History</div>
                            <div class="profileBilling-content-billing-historyitem col-md-12" ng-repeat="billing in billings">Invoice for ${{billing.total}} on {{billing.date | limitTo: 10}}</div>
                        </div>
                    </div>
                </div>
                <div class="profileBilling-content-three" ng-show="billingThree">
                    <div class="profileBilling-content-title">Your Billing</div>
                    <div class="profileBilling-content-billing">
                        <div class="profileBilling-content-billing-planTitle">
                            <div class="col-md-5"><img src="images/back-icon.png" ng-click="backBilling()"> BACK </div>
                            <div class="col-md-7">SELECT A PLAN</div>
                        </div>
                        <div class="profileBilling-content-billing-plans">
                            <div class="profileBilling-content-billing-plans-items col-md-12">
                                <div class="col-md-4" ng-class="{true:'profileBilling-content-billing-plans-itemSelect',false:'profileBilling-content-billing-plans-item'}[plan.id == planId]" ng-if="plan.projects >= 0" ng-repeat="plan in plans">
                                    <div class="profileBilling-content-billing-plans-name">{{plan.name}}</div>
                                    <div class="profileBilling-content-billing-plans-price">${{plan.price}}/Month</div>
                                    <div class="profileBilling-content-billing-plans-num"><span>{{plan.projects}}</span> Project</div>
                                    <div class="profileBilling-content-billing-plans-per"><span>${{plan.additional_member}}</span> per additional team member</div>
                                    <div class="profileBilling-content-billing-plans-button" ng-if="plan.id == planId">CURRENT PLAN</div>
                                    <div class="profileBilling-content-billing-plans-button" ng-if="plan.id != planId" ng-click="activePlan({{plan.id}},'{{plan.name}}',{{plan.price}})">SELECT PLAN</div>
                                </div>
                                <div class="col-md-4" ng-class="{true:'profileBilling-content-billing-plans-itemSelect',false:'profileBilling-content-billing-plans-item'}[plan.id == planId]" ng-if="plan.projects < 0" ng-repeat="plan in plans">
                                    <div class="profileBilling-content-billing-plans-name">{{plan.name}}</div>
                                    <div class="profileBilling-content-billing-plans-price">${{plan.price}}/Month</div>
                                    <div class="profileBilling-content-billing-plans-num">
                                        <p><span>Unlimited</span> Project</p>
                                        <p>Up to <span>5 Team Members</span></p>
                                    </div>
                                    <div class="profileBilling-content-billing-plans-per"><span>${{plan.additional_member}}</span> per additional team member</div>
                                    <div class="profileBilling-content-billing-plans-button" ng-if="plan.id == planId">CURRENT PLAN</div>
                                    <div class="profileBilling-content-billing-plans-button" ng-if="plan.id != planId" ng-click="activePlan({{plan.id}},'{{plan.name}}',{{plan.price}})">SELECT PLAN</div>
                                </div>
                            </div>
                            <div class="profileBilling-content-billing-plans-submit col-md-12">
                                <div class="col-md-4">New Plan Price Total</div>
                                <div class="col-md-4" ng-if="newPlanId == 0">
                                    <div class="profileBilling-content-billing-submit-l">Your don't select new plan</div>
                                </div>
                                <div class="col-md-4" ng-if="newPlanId != 0">
                                    <div class="profileBilling-content-billing-submit-l">{{newPlanName}} - ${{newPlanPrice}} per month</div>
                                </div>
                                <div class="col-md-4" ng-if="newPlanId != 0">
                                    <div class="profileBilling-content-billing-submit-d col-md-3" ng-click="decreaseMember()">-</div>
                                    <div class="profileBilling-content-billing-submit-price col-md-6">+ {{newPlanMember}} Team Member - ${{newPlanAddedPrice}}</div>
                                    <div class="profileBilling-content-billing-submit-i col-md-3" ng-click="addMember()">+</div>
                                </div>
                            </div>
                            <form id="payment-form">
                                <div class="profileBilling-content-billing-changrCard">
                                    <div class="profileBilling-content-billing-changeCard-eight col-md-12">
                                        <div class="col-md-5">Credit Card Number</div>
                                        <div class="col-md-4">Expiration Date</div>
                                        <div class="col-md-3">CVC</div>
                                    </div>
                                    <div class="profileBilling-content-billing-changeCard-nine col-md-12">
                                        <div class="profileBilling-content-billing-changeCard-cardNum col-md-5"><input type="text" size="20" ng-model="number"></div>
                                        <div class="profileBilling-content-billing-changeCard-expirationM col-md-2"><input type="text" placeholder="MM" size="2" ng-model="exp_month"></div>
                                        <div class="profileBilling-content-billing-changeCard-expirationY col-md-2"><input type="text" placeholder="YYYY" size="4" ng-model="exp_year"></div>
                                        <div class="profileBilling-content-billing-changeCard-cvv col-md-3"><input type="text" size="4" ng-model="cvc"></div>
                                    </div>
                                    <button class="btn btn-lg profileBilling-content-billing-plans-button btn-primary" ng-click="payForPlan()">Buy Now</button>
                                </div>
                                <span class="payment-errors"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteproject" class="modal fade in" style="display: none;">
    <div class="project-delete">
        <div class="col-md-10 project-delete-desc">CANCEL YOUR SUBSCRIPTION PLAN</div>
        <div class="col-md-2 project-delete-delicon"><img src="images/close-icon.png" data-dismiss="modal"></div>
        <div class="col-md-12 project-delete-warning">
            <div class="col-md-12 project-delete-warningicon"><img src="images/warning-icon.png"></div>
            <div class="col-md-12 project-delete-warningdesc">Are you sure you want to cancel your plan?</div>
            <div class="col-md-12 project-delete-warningundone">Warning:This cannot be undone</div>
        </div>
        <div class="col-md-12 project-delete-button">
            <button class="btn btn-lg project-delete-buttoncancel btn-primary" type="reset" data-dismiss="modal">No.Take me back</button>
            <button class="btn btn-lg project-delete-buttonsubmit btn-primary" type="submit" ng-click='cancelPlan()'>Yes.Cancel my plan</button>
        </div>
    </div>
</div>
