<div class="profile-profile-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="profile-profile-container">
        <div class="profile-profile-header">
            <div class="profile-profile-header-name col-md-2">
                <span>Profile</span>
            </div>
            <div class="col-md-8">
                <div class="alert alert-success animated fade-in-left top-alert" ng-show="alertSuccess">
                    <p ng-bind-html="alertSuccess"></p>
                </div>
                <div class="alert alert-danger animated fade-in-left top-alert" ng-show="alertError">
                    <p ng-bind-html="alertError"></p>
                </div>
            </div>
            <div class="profile-profile-header-button col-md-2">
                <button class="btn btn-lg btn-primary" ng-click="updateUserInfo()">Save & Update</button>
            </div>
        </div>
        <div class="profile-profile-content">
            <div class="profile-profile-content-menu">
                <div class="profile-profile-content-nav col-md-12">
                    <ul class="list-inline">
                        <li ng-click="toProject()">MY PROJECTS</li>
                        <li class="project-design-menu-current">PROFILE</li>
                        <li ng-click="toBilling()">BILLING</li>
                        <li ng-click="toNotice()">NOTIFICATIONS</li>
                    </ul>
                </div>
            </div>
            <div class="profile-profile-content-body">
                <div class="profile-profile-content-profileH">My Profile</div>
                <div class="profile-profile-content-profile">
                    <div class="profile-profile-content-profile-title">Your Information</div>
                    <div class="profile-profile-content-profile-info">
                        <div class="row">
                            <div class="profile-profile-content-profile-info-l col-md-3 text-center">
                                <div class="profile-profile-content-profile-info-icon">
                                    <img src="images/Chan.png" id="userAvatar" ng-if="!avatar">
                                </div>
                                <div class="profile-profile-content-profile-info-icon">
                                    <img ng-src="{{avatar}}" class="img-responsive" id="userAvatar" ng-if="avatar">
                                </div>
                                <div class="spacer-15"></div>
                                <button class="btn btn-block btn-default" ngf-select ngf-change="uploadAvatar($files)">Choose file</button>
                            </div>
                            <div class="profile-profile-content-profile-info-r col-md-9">
                                <div class="row">
                                    <div class="profile-profile-content-profile-fullname col-md-12">
                                        <input type="text" placeholder="Full Name" ng-model="fullname" class="form-control">
                                    </div>
                                </div>
                                <div class="profile-profile-content-profile-email">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-9">
                                            <input type="email" placeholder="Email" ng-model="email" class="form-control">
                                        </div>
                                        <div class="col-md-4 col-lg-3">
                                            <button class="btn btn-block btn-default" ng-click="changePassword()">
                                                Change Password
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-profile-content-profile-address">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" placeholder="City" ng-model="city" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="State" ng-model="state" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <select ng-model="country" class="form-control">
                                                <option value="{{cnt}}" ng-selected="{{country == cnt}}" ng-repeat="cnt in countries">
                                                    {{cnt}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
