<div class="page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="main-container">
        <div class="main-header">
            <div class="name col-md-12">
                <span>Profile</span>
            </div>
        </div>
        <div class="profile-project-content">
            <div class="profile-content-menu">
                <div class="profile-content-nav col-md-12">
                    <ul class="list-inline profile-menu">
                        <li class="project-design-menu-current">
                            <a href="#/profile-project/">MY PROJECTS</a>
                        </li>
                        <li>
                            <a href="#/profile-profile/">PROFILE</a>
                        </li>
                        <li>
                            <a href="#/profile-billing/">BILLING</a>
                        </li>
                        <li>
                            <a href="#/profile-notice/">NOTIFICATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-project-content-body">
                <div class="profile-project-content-projectH">
                    <div class="row">
                        <div class="col-md-10">My Projects</div>
                        <div class="col-md-2">
                            <div class="dropdown filter">
                                <button type="button" class="btn btn-link btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="defaultProject">Select Project</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="project in projects">
                                        <button class="btn btn-link btn-block" ng-click="selectProject('{{project.name}}',$index)">
                                            {{project.name}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-project-content-projects">
                    <div class="profile-project-content-project" ng-repeat="project in projects">
                        <div class="profile-project-content-project-intro">
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="profile-project-content-project-name">{{project.name}}</span>
                                </div>
                                <div class="col-lg-10">
                                    <span class="profile-project-content-project-count" ng-if="project.screens.length>0">
                                        {{project.screens.length}} Screens
                                    </span>
                                    <span class="profile-project-content-project-count" ng-if="project.videos.length>0">
                                        {{project.videos.length}} Videos
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-project-content-project-thumb" ng-if="project.screens.length>0">
                            <div class="row">
                                <div class="col-lg-2" ng-repeat="screen in project.screens">
                                    <img ng-src="{{screen.url}}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
