<div class="profile-billing-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="profile-billing-container">
        <div class="profile-billing-header">
            <div class="profile-billing-header-name col-md-12">
                <span>Profile</span>
            </div>
        </div>
        <div class="profile-billing-content">
            <div class="profile-content-menu">
                <div class="profile-content-nav col-md-12">
                    <ul class="list-inline profile-menu">
                        <li>
                            <a href="#/profile-project/">MY PROJECTS</a>
                        </li>
                        <li>
                            <a href="#/profile-profile/">PROFILE</a>
                        </li>
                        <li class="project-design-menu-current">
                            <a href="#/profile-billing/">BILLING</a>
                        </li>
                        <li>
                            <a href="#/profile-notice/">NOTIFICATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-billing-content-body">
                <div class="profile-billing-content-one" ng-show="billingOne">
                    <div class="profile-billing-content-title">Your Billing</div>

                    <div class="profile-billing-content-billing">
                        <div class="profile-billing-content-billing-plan">
                            <div class="row">
                                <div class="profile-billing-content-billing-plantitle col-md-1">Your Plan</div>
                                <div class="col-md-5" ng-if="hasPlan()">
                                    <div class="profile-billing-content-billing-planinfo">
                                        {{planName}} --- ${{planPrice}}/Month
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="!hasPlan()">
                                    <button class="btn-primary-outline btn btn-block" ng-click="upgradePlan()">Choose
                                        Plan
                                    </button>
                                </div>
                                <div class="col-md-3" ng-if="hasPlan()">
                                    <button class="btn-primary-outline btn btn-block" ng-click="upgradePlan()">Change
                                        Plan
                                    </button>
                                </div>
                                <div class="col-md-3" ng-if="hasPlan()">
                                    <button class="btn-primary-outline btn btn-block" ng-click="openCancelPlan()">Cancel
                                        Plan
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-billing-content-billing-history">
                            <div class="profile-billing-content-billing-historytitle">History</div>
                            <div class="row" ng-repeat="billing in billings">
                                <div class="profile-billing-content-billing-historyitem col-md-12">
                                    Invoice for ${{billing.total}} on {{billing.date | limitTo: 10}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-billing-content-three" ng-show="billingThree">
                    <div class="profile-billing-content-title">Your Billing</div>
                    <div class="profile-billing-content-billing">
                        <div class="profile-billing-content-billing-planTitle">
                            <div class="col-md-5">
                                <img src="images/back-icon.png" ng-click="backBilling()">
                                BACK
                            </div>
                            <div class="col-md-7">SELECT A PLAN</div>
                        </div>
                        <div class="profile-billing-content-billing-plans">
                            <div class="profile-billing-content-billing-plans-items row">
                                <div class="col-md-4" ng-class="{true:'profile-billing-content-billing-plans-itemSelect',false:'profile-billing-content-billing-plans-item'}[plan.id == planId]" ng-if="plan.projects >= 0" ng-repeat="plan in plans">
                                    <div class="profile-billing-content-billing-plans-name">{{plan.name}}</div>
                                    <div class="profile-billing-content-billing-plans-price">${{plan.price}}/Month</div>
                                    <div class="profile-billing-content-billing-plans-num">
                                        <span>{{plan.projects}}</span>
                                        Project
                                    </div>
                                    <div class="profile-billing-content-billing-plans-per">
                                        <span>${{plan.additional_member}}</span>
                                        per additional team member
                                    </div>
                                    <div class="profile-billing-content-billing-plans-button" ng-if="plan.id == planId">
                                        CURRENT PLAN
                                    </div>
                                    <div class="profile-billing-content-billing-plans-button" ng-if="plan.id != planId" ng-click="activePlan({{plan.id}},'{{plan.name}}',{{plan.price}})">
                                        SELECT PLAN
                                    </div>
                                </div>
                                <div class="col-md-4" ng-class="{true:'profile-billing-content-billing-plans-itemSelect',false:'profile-billing-content-billing-plans-item'}[plan.id == planId]" ng-if="plan.projects < 0" ng-repeat="plan in plans">
                                    <div class="profile-billing-content-billing-plans-name">{{plan.name}}</div>
                                    <div class="profile-billing-content-billing-plans-price">${{plan.price}}/Month</div>
                                    <div class="profile-billing-content-billing-plans-num">
                                        <p>
                                            <span>Unlimited</span>
                                            Project
                                        </p>
                                        <p>Up to
                                            <span>5 Team Members</span>
                                        </p>
                                    </div>
                                    <div class="profile-billing-content-billing-plans-per">
                                        <span>${{plan.additional_member}}</span>
                                        per additional team member
                                    </div>
                                    <div class="profile-billing-content-billing-plans-button" ng-if="plan.id == planId">
                                        CURRENT PLAN
                                    </div>
                                    <div class="profile-billing-content-billing-plans-button" ng-if="plan.id != planId" ng-click="activePlan({{plan.id}},'{{plan.name}}',{{plan.price}})">
                                        SELECT PLAN
                                    </div>
                                </div>
                            </div>

                            <div class="spacer"></div>

                            <div class="profile-billing-content-billing-plans-submit row">
                                <div class="col-md-4">New Plan Price Total</div>
                                <div class="col-md-4" ng-if="newPlanId == 0">
                                    <div class="profile-billing-content-billing-submit-l">Select A Plan
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="newPlanId != 0">
                                    <div class="profile-billing-content-billing-submit-l">{{newPlanName}} -
                                        ${{newPlanPrice}} per month
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="newPlanId != 0">
                                    <div class="profile-billing-content-billing-submit-d col-md-3" ng-click="decreaseMember()">
                                        -
                                    </div>
                                    <div class="profile-billing-content-billing-submit-price col-md-6">+
                                        {{newPlanMember}} Team Member - ${{newPlanAddedPrice}}
                                    </div>
                                    <div class="profile-billing-content-billing-submit-i col-md-3" ng-click="addMember()">
                                        +
                                    </div>
                                </div>
                            </div>

                            <form id="payment-form" ng-submit="submit(paymentForm.$valid)" name="paymentForm" novalidate>
                                <div class="profile-billing-content-billing-changrCard">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-success animated fade-in-left top-alert" ng-show="alertSuccess">
                                                <p ng-bind-html="alertSuccess"></p>
                                            </div>
                                            <div class="alert alert-danger animated fade-in-left top-alert" ng-show="alertError">
                                                <p ng-bind-html="alertError"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="profile-billing-content-billing-changeCard-eight row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Credit Card Number</label>
                                                <input type="text" class="form-control" ng-model="number" name="ccNumber" required/>
                                            </div>
                                            <div ng-messages="paymentForm.ccNumber.$error" ng-if="(paymentForm.$submitted || paymentForm.ccNumber.$touched)">
                                                <div class="alert alert-danger form-alert" ng-message="required">
                                                    <p>Please enter the new password</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Expiration Date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="MM" name="ccMonth" class="form-control" size="2" ng-model="exp_month" required/>
                                                        </div>
                                                        <div ng-messages="paymentForm.ccMonth.$error" ng-if="(paymentForm.$submitted || paymentForm.ccMonth.$touched)">
                                                            <div class="alert alert-danger form-alert" ng-message="required">
                                                                <p>Please enter the expiration month</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="YYYY" name="ccYear" class="form-control" size="4" ng-model="exp_year" required/>
                                                        </div>
                                                        <div ng-messages="paymentForm.ccYear.$error" ng-if="(paymentForm.$submitted || paymentForm.ccYear.$touched)">
                                                            <div class="alert alert-danger form-alert" ng-message="required">
                                                                <p>Please enter the expiration year</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="text" class="form-control" ng-model="cvc" name="cvc" required/>
                                            </div>
                                            <div ng-messages="paymentForm.cvc.$error" ng-if="(paymentForm.$submitted || paymentForm.cvc.$touched)">
                                                <div class="alert alert-danger form-alert" ng-message="required">
                                                    <p>Please enter the cvc for your card</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="!saving">
                                                    Buy Now
                                                </button>
                                                <button class="btn btn-primary-2" ng-show="saving">
                                                    <i class="fa fa-spin fa-spinner"></i>
                                                    Saving...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="payment-errors"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteproject" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="project-delete">
                <div class="col-md-10 project-delete-desc">CANCEL YOUR SUBSCRIPTION PLAN</div>
                <div class="col-md-2 project-delete-delicon">
                    <img src="images/close-icon.png" data-dismiss="modal">
                </div>
                <div class="col-md-12 project-delete-warning">
                    <div class="col-md-12 project-delete-warningicon">
                        <img src="images/warning-icon.png">
                    </div>
                    <div class="col-md-12 project-delete-warningdesc">Are you sure you want to cancel your plan?</div>
                    <div class="col-md-12 project-delete-warningundone">Warning:This cannot be undone</div>
                </div>
                </div>
            <div class="modal-footer">
                <div class="col-md-12 project-delete-button">
                    <button class="btn btn-lg project-delete-buttoncancel btn-primary" type="reset" data-dismiss="modal">
                        No.Take me back
                    </button>
                    <button class="btn btn-lg project-delete-buttonsubmit btn-primary" type="submit" ng-click='cancelPlan()'>
                        Yes.Cancel my plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
