<div class="project-screen-video-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="project-screen-video-container project-container">
        <div class="project-screen-video-header project-header">
            <div class="row">
                <div class="project-screen-video-header-name name col-sm-6 col-xs-12">
                    <span ng-bind="updateProjectTitle"></span>
                    <img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
                </div>
                <div class="project-screen-video-header-button button col-sm-6 col-xs-12">
                    <button class="btn btn-lg btn-primary" ng-click="openNewMeeting(activeProjectUuid)">Create a Meeting
                    </button>
                </div>
            </div>
        </div>
        <div class="project-screen-video-content project-content">
            <div ng-include="'views/includes/project-content-menu.html'"></div>

            <div class="project-screen-video-content-body project-body">

                <form id="videoUpload" enctype="multipart/form-data" class="project-screen-video-content-upload dropzone hidden-xs">
                    <input type="hidden" name="project_uuid" value="{{activeProjectUuid}}">
                    <div class="dz-message">
                        <p>Upload Video File</p>

                        <p>Click here or Drag & Drop your files</p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div ng-include="'views/modal/includes/add-people-project.html'"></div>
<div ng-include="'views/modal/includes/update-project.html'"></div>
