<div class="project-screen-video-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="project-screen-video-container">
        <div class="project-screen-video-header">
            <div class="row">
                <div class="project-screen-video-header-name col-md-6">
                    <span ng-bind="updateProjectTitle"></span>
                    <img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
                </div>
                <div class="project-screen-video-header-button col-md-6">
                    <button class="btn btn-lg btn-primary" ng-click="openNewMeeting(activeProjectUuid)">Create a Meeting
                    </button>
                </div>
            </div>
        </div>
        <div class="project-screen-video-content project-content">
            <div class="project-screen-video-content-menu">

                <div class="row">
                    <div class="project-screen-video-content-nav col-md-6">
                        <span><img src="images/back-icon.png" ng-click="goBack()" title="Back to Build">Add Screen</span>
                    </div>
                    <div class="project-content-member col-md-6">
                        <ul class="list-inline">
                            <li ng-repeat="projectMember in projectMembers">
                                <img ng-if="projectMember.avatar != null" ng-src="{{projectMember.avatar}}" alt="{{projectMember.fullname}}" title="{{projectMember.fullname}}">
                            </li>
                            <li ng-repeat="projectMember in projectMembers">
                                <img ng-if="projectMember.avatar == null" src="images/Chan.png" alt="{{projectMember.fullname}}" title="{{projectMember.fullname}}">
                            </li>
                            <li>
                                <img src="images/addMember-icon.png" ng-click="openAddProjectMember()">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project-screen-video-content-body">
                <form id="screenUpload" enctype="multipart/form-data" class="project-screen-video-content-upload dropzone">
                    <input type="hidden" name="project_uuid" value="{{activeProjectUuid}}">
                    <div class="dz-message">
                        <p>Upload Screen</p>

                        <p>Click here or Drag & Drop your files</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/modal/includes/add-people-project.html'"></div>
<div ng-include="'views/modal/includes/update-project.html'"></div>
