<div class="project-screen-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="project-screen-container">
        <div class="project-screen-header">
            <div class="row">
                <div class="project-screen-header-name col-md-6">
                    <span ng-bind="updateProjectTitle"></span>
                    <img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
                </div>
                <div class="project-screen-header-button col-md-6">
                    <button class="btn btn-lg btn-primary" ng-click="openNewMeeting(activeProjectUuid)">Create a Meeting</button>
                </div>
            </div>
        </div>
        <div class="project-screen-content">
            <div class="project-screen-content-menu">
                <div class="row">
                    <div class="project-screen-content-nav col-md-6">
                        <ul class="list-inline">
                            <li ng-click="toBuildFirst()">BUILD</li>
                            <li class="project-design-menu-current">SCREENS</li>
                            <li ng-click="toActivity()">ACTIVITY</li>
                            <li ng-click="toComment()">COMMENTS</li>
                        </ul>
                    </div>
                    <div class="project-screen-content-member col-md-6">
                        <ul class="list-inline">
                            <li ng-repeat="projectMember in projectMembers">
                                <img ng-if="projectMember.avatar != null" src="{{projectMember.avatar}}" alt="{{projectMember.fullname}}" title="{{projectMember.fullname}}">
                            </li>
                            <li ng-repeat="projectMember in projectMembers">
                                <img ng-if="projectMember.avatar == null" src="images/Chan.png" alt="{{projectMember.fullname}}" title="{{projectMember.fullname}}">
                            </li>
                            <li>
                                <img src="images/addMember-icon.png" ng-click="openAddProjectMember()" class="addMemberIcon">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project-screen-content-body">
                <div class="project-screen-content-items col-md-10">
                    <div class="project-screen-content-thumb col-md-4" ng-repeat="screen in screens">
                        <img ng-src="{{screen.url}}" ng-click="toBuild('{{screen.uuid}}')">
                    </div>
                </div>
                <div class="project-screen-content-delete col-md-2">
                    <!--<form id="screenupload" enctype="multipart/form-data" class="project-screen-content-dropcontainer dropzone">-->
                    <!--<input type="hidden" name="project_uuid" value="{{activeProjectUuid}}">-->
                    <!--<div class="dz-message">--><!--<p>Drag & Drop your files</p>--><!--</div>-->
                    <!--<img class="project-screen-content-upload" src="images/upload-blue-icon.png">-->
                    <!--<img class="project-screen-content-sync" src="images/sync-icon.png">--><!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/modal/includes/new-meeting.html'"></div>
<div ng-include="'views/modal/includes/add-people-project.html'"></div>
<div ng-include="'views/modal/includes/update-project.html'"></div>
