<div class="project-build-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="project-build-container project-container col-md-12">
        <div class="project-build-header project-header">
            <div class="row">
                <div class="project-build-header-name name col-md-6">
                    <span ng-bind="updateProjectTitle"></span>
                    <img src="images/edit-icon.png" ng-click="openUpdateProject(activeProjectUuid)">
                </div>
                <div class="project-build-header-button button col-md-6">
                    <button class="btn btn-lg btn-primary">Share</button>
                    <button class="btn btn-lg btn-primary" ng-click="openNewMeeting(activeProjectUuid)">Create a Meeting
                    </button>
                </div>
            </div>
        </div>
        <div class="project-build-content project-content">
        <div ng-include="'views/includes/project-content-menu.html'"></div>
            <div class="project-build-content-body">
                <div class="project-build-content-drawing">
                    <canvas id="drawing-b" width="790" height="440"></canvas>
                    <canvas id="drawing-f" width="790" height="440"></canvas>
                </div>
                <div class="project-build-content-tools">
                    <ul class="project-build-content-tools-ul list-inline">
                        <li class="project-build-comment-blue" ng-show="showCommentBlue" ng-click="openComments()">
                            <img src="images/comment-blue-icon.png">
                        </li>
                        <li class="project-build-comment-black" ng-hide="showCommentBlue">
                            <img src="images/comment-black-icon.png">
                        </li>
                        <li class="project-build-hotspots-blue" ng-show="showHotspotsBlue" ng-click="openHotspots()">
                            <img src="images/hotspots-blue-icon.png">
                        </li>
                        <li class="project-build-hotspots-black" ng-hide="showHotspotsBlue">
                            <img src="images/hotspots-black-icon.png">
                        </li>
                        <li class="project-build-brush-blue" ng-show="showBrushBlue" ng-click="openTools()">
                            <img src="images/brush-blue-icon.png">
                        </li>
                        <li class="project-build-brush-black" ng-hide="showBrushBlue" ng-click="openDrawing('brush', $event)">
                            <img src="images/brush-black-icon.png">
                        </li>
                        <li class="project-build-eraser" ng-show="showEraser" ng-click="openDrawing('eraser', $event)">
                            <img src="images/eraser-black-icon.png">
                        </li>
                        <li class="project-build-shape" ng-show="showShape" ng-click="openDrawing('shape', $event)">
                            <img src="images/shape-black-icon.png">
                        </li>
                    </ul>
                </div>
                <div class="project-build-content-addScreens" ng-click="openAddScreen()">
                    <img src="images/addScreen-icon.png">
                    <span>Add Screen</span>
                </div>
                <div class="project-build-content-text">
                    <div class="project-build-content-textTitle col-md-12">TYPE TOOL</div>
                    <div class="project-build-content-textContent col-md-12">
                        <div class="col-md-1 project-build-content-textColor"></div>
                        <div class="col-md-3 project-build-content-textSize">
                            <div class="selectSize" ng-show="selectSizeDropdown">
                                <div ng-click="selectSize('14px')">14px</div>
                                <div ng-click="selectSize('18px')">18px</div>
                                <div ng-click="selectSize('24px')">24px</div>
                            </div>
                            <div class="project-build-content-textSizeDiv">24px</div>
                            <div class="project-build-content-textSelect" ng-click="openSelectSize()">
                                <img src="images/select-project-white-icon.png">
                            </div>
                        </div>
                        <div class="col-md-4 project-build-content-textFamily">
                            <div class="selectFamily" ng-show="selectFamilyDropdown">
                                <div ng-click="selectFamily('Roboto-Light')">Roboto-Light</div>
                                <div ng-click="selectFamily('Roboto-Medium')">Roboto-Medium</div>
                            </div>
                            <div class="project-build-content-textFamilyDiv">Roboto-Light</div>
                            <div class="project-build-content-textSelect" ng-click="openSelectFamily()">
                                <img src="images/select-project-white-icon.png">
                            </div>
                        </div>
                        <div class="col-md-4 project-build-content-textWeight">
                            <div class="selectWeight" ng-show="selectWeightDropdown">
                                <div ng-click="selectWeight('normal')">normal</div>
                                <div ng-click="selectWeight('bold')">bold</div>
                                <div ng-click="selectWeight('bolder')">bolder</div>
                                <div ng-click="selectWeight('lighter')">lighter</div>
                            </div>
                            <div class="project-build-content-textWeightDiv">normal</div>
                            <div class="project-build-content-textSelect" ng-click="openSelectWeight()">
                                <img src="images/select-project-white-icon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-build-content-brush">
                    <div class="project-build-content-brushTitle col-md-12">BRUSH TOOL</div>
                    <div class="project-build-content-brushContent col-md-12">
                        <div class="project-build-content-brushColorLeft col-md-8">
                            <div id="pickerBrush"></div>
                        </div>
                        <div class="project-build-content-brushColorRight col-md-4">
                            <ul class="col-md-6 list-inline">
                                <li class="brushColor1" ng-click="specicalColor('#fff')"></li>
                                <li class="brushColor2" ng-click="specicalColor('#959595')"></li>
                                <li class="brushColor3" ng-click="specicalColor('#555555')"></li>
                                <li class="brushColor4" ng-click="specicalColor('#252525')"></li>
                                <li class="brushColor5" ng-click="specicalColor('#000')"></li>
                            </ul>
                            <ul class="col-md-6 list-inline">
                                <li class="brushColor6" ng-click="specicalColor('#d26a9d')"></li>
                                <li class="brushColor7" ng-click="specicalColor('#a90c5a')"></li>
                                <li class="brushColor8" ng-click="specicalColor('#800039')"></li>
                                <li class="brushColor9" ng-click="specicalColor('#45001e')"></li>
                                <li class="brushColor10" ng-click="specicalColor('#250012')"></li>
                            </ul>
                        </div>
                        <div class="project-build-content-brushBottom col-md-12">
                            <div class="col-md-4">
                                <img src="images/8px-icon.png" ng-click="setBrushWidth(8)">
                                8px
                            </div>
                            <div class="col-md-4">
                                <img src="images/20px-icon.png" ng-click="setBrushWidth(20)">
                                20px
                            </div>
                            <div class="col-md-4">
                                <img src="images/30px-icon.png" ng-click="setBrushWidth(30)">
                                30px
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-build-content-eraser">
                    <div class="project-build-content-eraserTitle col-md-12">ERASER TOOL</div>
                    <div class="project-build-content-eraserContent col-md-12">
                        <div class="col-md-4">
                            <img src="images/8px-icon.png" ng-click="setEraserWidth(8)">
                            8px
                        </div>
                        <div class="col-md-4">
                            <img src="images/20px-icon.png" ng-click="setEraserWidth(20)">
                            20px
                        </div>
                        <div class="col-md-4">
                            <img src="images/30px-icon.png" ng-click="setEraserWidth(30)">
                            30px
                        </div>
                    </div>
                </div>
                <div class="project-build-content-shape">
                    <div class="project-build-content-shapeTitle col-md-12">SHAPE TOOL</div>
                    <div class="project-build-content-shapeContent">
                        <div class="project-build-content-shapeLeft col-md-6">
                            <div class="project-build-content-shapeLeftT">
                                <div class="col-md-4">
                                    <img src="images/square-icon.png" ng-click="drawSquare()">
                                </div>
                                <div class="col-md-4">
                                    <img src="images/triangle-icon.png" ng-click="drawTriangle()">
                                </div>
                                <div class="col-md-4">
                                    <img src="images/circle-icon.png" ng-click="drawCircle()">
                                </div>
                                <div class="col-md-4">
                                    <img src="images/talk-icon.png" ng-click="drawTalk()">
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-icon.png" ng-click="drawArrow()">
                                </div>
                                <div class="col-md-4">
                                    <img src="images/star-icon.png" ng-click="drawStar()">
                                </div>
                            </div>
                            <div class="project-build-content-shapeLeftB">
                                <div class="col-md-4">
                                    <img src="images/8px-icon.png" ng-click="setPenWidth(0)">
                                    8px
                                </div>
                                <div class="col-md-4">
                                    <img src="images/20px-icon.png" ng-click="setPenWidth(1)">
                                    20px
                                </div>
                                <div class="col-md-4">
                                    <img src="images/30px-icon.png" ng-click="setPenWidth(2)">
                                    30px
                                </div>
                            </div>
                        </div>
                        <div class="project-build-content-shapeRight col-md-6">
                            <div id="pickerShape"></div>
                            <div class="shapeColorContainer">
                                <ul class="list-inline">
                                    <li class="shapeColor1" ng-click="specicalColor('#fff')"></li>
                                    <li class="shapeColor2" ng-click="specicalColor('#959595')"></li>
                                    <li class="shapeColor3" ng-click="specicalColor('#555555')"></li>
                                    <li class="shapeColor4" ng-click="specicalColor('#252525')"></li>
                                    <li class="shapeColor5" ng-click="specicalColor('#000')"></li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="shapeColor6" ng-click="specicalColor('#d26a9d')"></li>
                                    <li class="shapeColor7" ng-click="specicalColor('#a90c5a')"></li>
                                    <li class="shapeColor8" ng-click="specicalColor('#800039')"></li>
                                    <li class="shapeColor9" ng-click="specicalColor('#45001e')"></li>
                                    <li class="shapeColor10" ng-click="specicalColor('#250012')"></li>
                                </ul>
                            </div>
                            <div class="shapeFillSwitch">
                                <div class="col-md-12">Fill Shape</div>
                                <div class="shapeFillSwitchContainer col-md-12">
                                    <div class="col-md-6 shapeFillSwitchOn shapeUnFillItem" ng-click="shapeFillSwitch('on')">
                                        ON
                                    </div>
                                    <div class="col-md-6 shapeFillSwitchOff shapeFillItem" ng-click="shapeFillSwitch('off')">
                                        OFF
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/modal/includes/add-people-project.html'"></div>
<div ng-include="'views/modal/includes/add-comment.html'"></div>
<div ng-include="'views/modal/includes/add-hotspot.html'"></div>
<div ng-include="'views/modal/includes/update-project.html'"></div>
