<div class="register-container col-sm-12">
    <div class="register-plan">
        <div class="profile-billing-content-billing-planTitle">SELECT A PLAN</div>
        <div class="profile-billing-content-billing-plans col-sm-12">
            <div class="profile-billing-content-billing-plans-items col-sm-12">
                <div class="profile-billing-content-billing-plans-item col-sm-3">
                    <div class="profile-billing-content-billing-plans-name">TRIAL</div>
                    <div class="profile-billing-content-billing-plans-price">30 DAYS FREE</div>
                    <div class="profile-billing-content-billing-plans-num">
                        <span>1</span>
                        Project
                    </div>
                    <div class="profile-billing-content-billing-plans-per">
                        <span>$10</span>
                        per additional team member
                    </div>
                    <div class="profile-billing-content-billing-plans-button" ng-click="selectPlan($event)">SELECT PLAN
                    </div>
                </div>
                <div class="profile-billing-content-billing-plans-item col-sm-3">
                    <div class="profile-billing-content-billing-plans-name">STARTER</div>
                    <div class="profile-billing-content-billing-plans-price">
                        <span>$15</span>
                        /Month
                    </div>
                    <div class="profile-billing-content-billing-plans-num">
                        <span>3</span>
                        Project
                    </div>
                    <div class="profile-billing-content-billing-plans-per">
                        <span>$10</span>
                        per additional team member
                    </div>
                    <div class="profile-billing-content-billing-plans-button" ng-click="selectPlan($event)">SELECT PLAN
                    </div>
                </div>
                <div class="profile-billing-content-billing-plans-itemSelect col-sm-3">
                    <div class="profile-billing-content-billing-plans-name">PROFESSIONAL</div>
                    <div class="profile-billing-content-billing-plans-price">
                        <span>$25</span>
                        /Month
                    </div>
                    <div class="profile-billing-content-billing-plans-num">
                        <span>10</span>
                        Project
                    </div>
                    <div class="profile-billing-content-billing-plans-per">
                        <span>$10</span>
                        per additional team member
                    </div>
                    <div class="profile-billing-content-billing-plans-button" ng-click="selectPlan($event)">SELECT PLAN
                    </div>
                </div>
                <div class="profile-billing-content-billing-plans-item col-sm-3">
                    <div class="profile-billing-content-billing-plans-name">TEAM</div>
                    <div class="profile-billing-content-billing-plans-price">
                        <span>$100</span>
                        /Month
                    </div>
                    <div class="profile-billing-content-billing-plans-num">
                        <span>Unlimited</span>
                        Projects
                    </div>
                    <div class="profile-billing-content-billing-plans-perT">
                        <span>Up tp 5</span>
                        team member
                    </div>
                    <div class="profile-billing-content-billing-plans-perT">
                        <span>$10</span>
                        per additional team member
                    </div>
                    <div class="profile-billing-content-billing-plans-button" ng-click="selectPlan($event)">SELECT PLAN
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
