<div class="register-container col-md-12">
    <div class="register-logo"><a ng-href="#/"><img src="images/logo-account.png"></a></div>
    <div class="register-billing">
        <div class="profile-billing-content-title">BILING INFORMATION</div>
        <div class="profile-billing-content-billing-changrCard col-md-12">
            <div class="profile-billing-content-billing-changeCard-one col-md-12">
                <div class="col-md-6">Plan Type</div>
                <div class="col-md-6">Add Team Members</div>
            </div>
            <div class="profile-billing-content-billing-changeCard-two col-md-12">
                <div class="col-md-6">
                    <div class="profile-billing-content-billing-changeCard-two-L">Professional - $25 per month</div>
                </div>
                <div class="col-md-6">
                    <div class="profile-billing-content-billing-changeCard-two-m col-md-2">-</div>
                    <div class="profile-billing-content-billing-changeCard-two-r col-md-8">+ 1 Team Member - $10.00</div>
                    <div class="profile-billing-content-billing-changeCard-two-p col-md-2">+</div>
                </div>
            </div>
            <div class="profile-billing-content-billing-changeCard-three col-md-12">
                <div class="col-md-2"><input type="radio" value="1" name="cardCategory"><img src="images/visa-icon.png"></div>
                <div class="col-md-2"><input type="radio" value="2" name="cardCategory"><img src="images/master-card-icon.png"></div>
                <div class="col-md-2"><input type="radio" value="3" name="cardCategory"><img src="images/america-express-icon.png"></div>
                <div class="col-md-2"><input type="radio" value="4" name="cardCategory"><img src="images/discover-icon.png"></div>
                <div class="col-md-2"><input type="radio" value="5" name="cardCategory"><img src="images/paypal-icon.png"></div>
            </div>
            <div class="profile-billing-content-billing-changeCard-four col-md-12">
                <div class="col-md-4">First Name</div>
                <div class="col-md-4">Last Name</div>
                <div class="col-md-4">Phone Number</div>
            </div>
            <div class="profile-billing-content-billing-changeCard-five col-md-12">
                <div class="col-md-4"><input type="text"></div>
                <div class="col-md-4"><input type="text"></div>
                <div class="col-md-4"><input type="text"></div>
            </div>
            <div class="profile-billing-content-billing-changeCard-six col-md-12">
                <div class="col-md-4">City</div>
                <div class="col-md-2">State</div>
                <div class="col-md-4">Country</div>
                <div class="col-md-2">Zip Code</div>
            </div>
            <div class="profile-billing-content-billing-changeCard-seven col-md-12">
                <div class="profile-billing-content-billing-changeCard-city col-md-4"><input type="text"></div>
                <div class="profile-billing-content-billing-changeCard-state col-md-2"><input type="text"></div>
                <div class="profile-billing-content-billing-changeCard-country col-md-4"><input type="text"></div>
                <div class="profile-billing-content-billing-changeCard-code col-md-2"><input type="text"></div>
            </div>
            <div class="profile-billing-content-billing-changeCard-eight col-md-12">
                <div class="col-md-6">Credit Card Number</div>
                <div class="col-md-4">Expiration Date</div>
                <div class="col-md-2">CVV</div>
            </div>
            <div class="profile-billing-content-billing-changeCard-nine col-md-12">
                <div class="profile-billing-content-billing-changeCard-cardNum col-md-6"><input type="text"></div>
                <div class="profile-billing-content-billing-changeCard-expirationM col-md-2"><input type="text" placeholder="MM"></div>
                <div class="profile-billing-content-billing-changeCard-expirationY col-md-2"><input type="text" placeholder="YY"></div>
                <div class="profile-billing-content-billing-changeCard-cvv col-md-2"><input type="text"></div>
            </div>
            <div class="profile-billing-content-billing-changeCard-ten col-md-12">
                <div class="col-md-8">
                    <div class="profile-billing-content-billing-changeCard-planinfo">Professional Plan + 1 Team Member $35.00</div>
                </div>
                <div class="col-md-4"><button class="btn btn-lg profile-billing-content-billing-changeCard-button btn-primary">Buy Now</button></div>
            </div>
        </div>
    </div>
</div>
