<div class="team-page page">
    <div ng-include="'views/header.html'"></div>
    <div ng-include="'views/siderbar.html'"></div>
    <div class="team-container project-container">
        <div class="team-header project-header">
            <div class="team-header-account">
                <div class="row">
                    <div class="col-md-10">
                        <div class="team-header-userName">{{currentUser}}</div>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown filter">
                            <button type="button" class="btn btn-link btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="defaultTeam">Select Team</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="team in teams">
                                    <button class="btn btn-link btn-block" ng-click="selectTeam('{{team.name}}',$index)">
                                        {{team.name}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-content project-content">
            <div class="row">
                <div class="col-md-4 col-lg-2 col-xs-6" ng-repeat="user in team.users">
                    <div class="team-content-offset">
                        <div class="team-content-itemimg text-center">
                            <img ng-src="{{user.avatar}}" class="img-circle img-responsive" ng-mouseover="hoverOver($event)">
                        </div>
                        <div class="team-content-itemname">
                            <span>{{user.fullname}}</span>
                        </div>
                        <div class="team-content-permissions" ng-mouseleave="hoverLeave($event)">
                            <div class="team-content-permissionsEdit" ng-click="goToEdit('{{user.uuid}}','{{team.uuid}}')">
                                Edit Permissions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
